<%= form_with(model: cardtest, local: true, class: "cardtest-form p-4") do |form| %>
<%= render "shared/flash", flash: cardtest.errors %>

<div class="tab-setup">
  <div class="field">
    <h4>Test name</h4>
    <%# <%= form.label :name %>
    <%= form.text_field :name, class: "input", placeholder: "Add a name for your test ...", required: true %>

    <!-- <input type="text" id="share-link" class="input rounded-r-none" value="<%= request.base_url %>/collect/<%= @cardtest.auth_token %>?preview"/> -->

    <%# form.text_field :status, class: "input", placeholder: "Status here"%>
  </div>

  <div class="field">
    <h4>Test type</h4>
    <p class="-mt-4 text-xs mb-4">Use closed card sorting if you have groups you want people to choose between.</p>

    <div class="radio mt-4">

      <%= form.radio_button :testtype, 'open', :checked => true %>
      <%= form.label :testtype, 'Open card sort', :value => 'open' %>
      <br/>
      <%= form.radio_button :testtype, 'closed' %>
      <%= form.label :testtype, 'Closed card sort', :value => 'closed' %>
      <br/>
      <%= form.radio_button :testtype, 'hybrid' %>
      <%= form.label :testtype, 'Hybrid card sort', :value => 'hybrid' %>

    </div>

    <div class="fixedgroups mt-4">
      <label class="uppercase text-xs font-semibold tracking-wider">Add predefined groups</label>
      <div></div>
      <div class="predefined-groups inline">
        <% if !@cardtest.fixedgroups.nil? %>
          <% @fixedgroups = @cardtest.fixedgroups.split("\r\n") %>
          <% @fixedgroups.each do |group| %>
            <div class="group-field item bg-white rounded p-2 mb-2 w-64 inline-block shadow mr-2">
              <div class="field w-7/8 clearfix flex m-0">
                <input class="input w-7/8 mr-2 text-sm" type="text" value="<%= group %>" placeholder="Enter a group name ...">
                <a class="remove-predefined-group pt-2 w-1/8 text-red-400 hover:text-red-600" href="#"  tabindex="-1">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <% end %>
        <% else %>

        <% end %>
      </div>
      <a class="btn-small btn--primary add-predefined inline-block" href="#">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>



      <%= form.hidden_field :fixedgroups, class: "", required: false, placeholder: "Add one group per line, e.g.: \nMust have \nNice to have \nNot needed" %>



    </div>

  </div>

  <div class="field">
    <h4>Logo</h4>
    <p class="-mt-4 text-xs mb-4">Upload a custom logo for this test</p>


    <% puts "asddsa" %>
    <% puts cardtest.logoimg.attached? %>

    <% puts "121321" %>

    <% if cardtest.logoimg.attached? %>
      <% puts "in the if" %>
      <%= image_tag(url_for(cardtest.logoimg), id: "logo-uploaded") %>
      <%# byebug %>
      <%= link_to 'Remove image', delete_image_attachment_cardtest_url(cardtest.logoimg.id), method: :delete, class: "remove-image-server" %>
    <% else %>
      <% puts "in the else" %>
      <%= form.file_field :logoimg, class: "image", id: "logo-img", required: false %>
      <img src="" id="logo-uploaded" class="hidden"/>
      <a href="#" class="remove-image hidden">Remove image</a>
    <% end %>


  </div>
  <div class="field">
    <h4>Test introduction</h4>
    <p class="-mt-4 text-xs mb-4">Greet your test respondents with a custom introduction</p>

    <% if cardtest.intro == "" or !cardtest.intro? %>
      <%= form.text_area :intro, class: "intro-text", required: false,
      value: "Thank you for agreeing to help us, it shouldn't take more than 5 minutes!

The left column contains cards that we'd like you to categorize into groups that make sense to you. You can do this by dragging them into the area on the right.

Don't worry, there is no right or wrong answer, just do what makes sense to you." %>

    <% else %>
      <%= form.text_area :intro, class: "intro-text", required: false %>
    <% end %>
  </div>
  <div class="field">
    <h4>Thank you message</h4>
    <p class="-mt-4 text-xs mb-4">Custom thank you message to show respondents upon completion</p>

    <% if cardtest.outro == ""  or !cardtest.outro? %>

    <%= form.text_area :outro, class: "outro-text", required: false,
    value: "Thanks for taking the time to help us.

Your contribution is essential in our journey to deliver improvements." %>


  <% else %>
    <%= form.text_area :outro, class: "outro-text", required: false %>
  <% end %>

  </div>




</div>

<div class="tab-cards hidden">
  <div class="field">
    <h4>Card order</h4>
    <p class="-mt-4 text-xs mb-4">Randomizing the card order eliminates bias towards cards at the top of list</p>
    <div class="checkbox">

      <%= form.check_box :random %>
      <label for="randomize">Randomize card order in test</label>

    </div>
  </div>
  <h4>Add your cards</h4>
  <div data-controller = "nested-form" class="mb-32">

    <template data-target="nested-form.template">
      <%= form.fields_for :cards, Card.new, child_index: "NEW_RECORD" do |card| %>
          <%= #render partial: "card_fields", locals: {form: card}
          #render "card_fields", form:card


          content_tag :div, id:card.index, class:"nested-field item bg-white rounded shadow p-4 my-4 flex", data: {new_record: form.object.new_record?} do %>

              <div class="drag-handle cursor-move w-1/8 pt-2 text-gray-400 hover:text-gray-600"><i class="fa fa-sort" aria-hidden="true"></i></div>


                <div class="field w-7/8 clearfix flex m-0">
                  <%= card.text_field :name, class: "input w-7/8 mx-3 card-input", placeholder: "Enter card name ...", data: {keydown: "click->nested-form#add_association"}, required: true %>
                  <%= link_to "Remove", data: { action: "click->nested-form#remove_association"}, class: "pt-2 w-1/8 text-red-400 hover:text-red-600" do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>

                </div>


                <%= card.hidden_field :order %>
                <%= card.hidden_field :_destroy %>




          <% end %>

      <% end %>
    </template>

    <div id="editable-cards">

      <%= form.fields_for(:cards, @cardtest.cards.sort_by(&:order), include_id: false) do |card| %>

            <%= content_tag :div, id:card.index, class:"nested-field item bg-white rounded shadow p-4 my-4 flex", data: {new_record: form.object.new_record?} do %>
                <div class="drag-handle cursor-move w-1/8 pt-2 text-gray-400 hover:text-gray-600"><i class="fa fa-sort" aria-hidden="true"></i></div>
                  <div class="field w-7/8 clearfix flex m-0">
                    <%= card.text_field :name, class: "input w-7/8 mx-3 card-input", placeholder: "Enter card name ..." , data: {action: "keydown->nested-form#add_association"}, required: true%>
                    <%= card.hidden_field :id %>

                    <%= link_to "Remove", data: { action: "click->nested-form#remove_association"}, class: "pt-2 w-1/8 text-red-400 hover:text-red-600" do %>
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    <% end %>
                  </div>
                  <%= card.hidden_field :order %>
                  <%= card.hidden_field :_destroy %>
            <% end %>

      <% end %>
    </div>



    <div class="mb-3" data-target="nested-form.links">
        <%= link_to "#", class:"btn-small btn--primary add-card-btn", data: {action: "click->nested-form#add_association"} do %>
          <i class="fa fa-plus" aria-hidden="true"></i> Add card
        <% end %>
    </div>

  </div>

</div>
<div class="tab-customise hidden">

</div>

<div class="field flex justify-between items-center mb-0">


  <%= form.submit class: "btn btn--primary hidden save-cardtest" %>


</div>


<% end %>
