  <%= form_with(model: cardtest, local: true, class: "card p-4") do |form| %>
  <%= render "shared/flash", flash: cardtest.errors %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <h4>Cards</h4>
  <div data-controller = "nested-form">

    <template data-target="nested-form.template">
      <%= form.fields_for :cards, Card.new, child_index: "NEW_RECORD" do |card| %>
          <%= #render partial: "card_fields", locals: {form: card}
          #render "card_fields", form:card


          content_tag :li, id:card.index, class:"nested-field", data: {new_record: form.object.new_record?} do %>

              <div class="drag-handle">DRAG <%=  %></div>


                <div class="field">
                  <%= card.text_field :name, class: "input" %>
                  <small><%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association"} %></small>

                </div>


                <%= card.text_field :order %>
                <%= card.hidden_field :_destroy %>


          </li>

          <% end %>

      <% end %>
    </template>

    <ul id="editable-cards">

      <%= form.fields_for(:cards, @cardtest.cards.sort_by(&:order), include_id: false) do |card| %>

            <%= content_tag :li, id:card.index, class:"nested-field", data: {new_record: form.object.new_record?} do %>
                <div class="drag-handle">DRAG</div>
                  <div class="field">
                    <%= card.text_field :name, class: "input" %>
                    <%= card.hidden_field :id %>
                    <small><%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association"} %></small>
                  </div>
                  <%= card.text_field :order %>
                  <%= card.hidden_field :_destroy %>
            <% end %>

      <% end %>
    </ul>

    <!-- <div id="editable-cards-test">
      <div class="item-test">
        <div class="item-content">
            <h4>Item 1</h4>
        </div>
      </div>
      <div class="item-test">
        <div class="item-content">
            <h4>Item 2</h4>
        </div>
      </div>
    </div> -->

  <div class="mb-3" data-target="nested-form.links">
      <%= link_to "Add card", "#", class:"btn, btn-primary", data: {action: "click->nested-form#add_association"} %>

  </div>


  <div class="field flex justify-between items-center mb-0">
    <%= form.submit class: "btn btn--primary" %>

    <% if cardtest.persisted? %>
      <%= link_to "Destroy", cardtest, method: :delete, class: "text-red-600", data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>
