<%= form_with(model: cardtest, local: true, class: "py-4 bg-white rounded shadow px-4 my-4", id:"publish-form") do |form| %>
<%= render "shared/flash", flash: cardtest.errors %>

<div class="field">
  <%= form.hidden_field :status, id:"status-field", class: "input"%>
  <%# <%= form.hidden_field :uid %>
</div>

  <% begin %>
    <% if cardtest.status == false%>
      <h4 class="mt-2 mb-6 font-semibold px-2 text-center">Your cardtest is currently in <span class="text-orange-300">draft</span> status.</h1>
        <p class="text-sm text-center py-2">When your test is ready just hit the button below to publish it!</p>
      <%= form.submit class: "btn btn--primary w-full", value:"Publish", id:"publish-test"%>
    <% else %>

    <h4 class="mt-2 mb-6 font-semibold px-2 text-center">Your cardtest is currently <span class="text-green-700">published</span>.</h1>
      <p class="text-sm text-center py-2">Copy the link below to share your test with participants.</p>
      <div class="fields-inline items-end">
        <div class="field">
          <input type="text" id="share-link" class="input rounded-r-none" value="<%= request.base_url %>/collect/<%= @cardtest.auth_token %>"/>
        </div>
        <div class="field w-auto">
          <a href="#" class="copy-to-clipboard btn btn--primary rounded-l-none"><i class="fa fa-files-o" aria-hidden="true"></i>
</a>
        </div>



      </div>

      <p class="copied-text hidden -mt-4 mb-4 text-sm text-green-600 text-center">Share link copied to your clipboard.</p>

      <%= form.submit class: "btn btn--secondary w-full", value:"Unpublish", id:"publish-test"%>
    <% end %>
  <% rescue => ex %>

  <% end %>



<% end %>
