<%= form_with(model: cardtest, local: true, class: "", id:"publish-form") do |form| %>
<%= render "shared/flash", flash: cardtest.errors %>

<div class="field hidden">
  <%= form.hidden_field :status, id:"status-field", class: "input"%>
  <%# <%= form.hidden_field :uid %>
</div>

  <% begin %>
    <% if cardtest.status == "draft" %>
      <div class="bg-white shadow sm:rounded-lg text-center mb-6">
        <div class="px-4 py-5 sm:p-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Your card sort has been created!
          </h3>

          <p class="text-sm text-center py-2 mb-4">Ready to publish? Just hit the button below.</p>

          <%= form.submit class: "block w-full text-center px-6 py-3 rounded-md shadow-sm cursor-pointer border border-transparent text-base leading-6 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:border-purple-700 focus:shadow-outline-purple active:bg-purple-700 transition ease-in-out duration-150", value:"Publish", id:"publish-test"%>
        </div>
      </div>
      <div class="bg-gray-200 overflow-hidden rounded-lg mb-6 text-center">
        <div class="px-4 py-5 sm:p-6">
          <% if @cardtest.persisted? %>
            <p class="text-sm">
              Need to <%= link_to 'delete', { action: :destroy, uid: @cardtest.uid }, method: :delete, data: { confirm: 'Are you sure? This is permanent and cannot be undone.' }, class: "text-red-700 underline" %> this sort?
            </p>
          <% end %>
        </div>
      </div>

    <% elsif cardtest.status == "published" %>

      <div class="bg-white shadow sm:rounded-lg text-center mb-12">
        <div class="px-4 py-5 sm:p-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
          🎉 Your card sort is <span class="text-green-700">published</span>.
          </h3>

          <p class="text-sm text-center py-2 mb-4">Copy the link below to share with participants.</p>
          <div class="fields-inline items-end">
            <div class="field  mb-2">
              <input type="text" id="share-link" class="input rounded-r-none" value="<%= request.base_url %>/collect/<%= @cardtest.auth_token %>"/>
            </div>
            <div class="field w-auto  mb-2">
              <a href="#" class="copy-to-clipboard btn btn--primary rounded-l-none"><i class="fa fa-files-o" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <p class="copied-text hidden mt-0 text-sm text-green-600 text-center">Share link copied to your clipboard.</p>
        </div>
      </div>
      <div class="bg-gray-200 overflow-hidden rounded-lg mb-6 text-center">
        <div class="px-4 py-5 sm:p-6">
          <%= form.submit class: "btn btn--tertiary w-full end-test hidden", value:"End Sort", id:"publish-test" %>
          <a href="#" class="end-t mb-6 block text-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md shadow-sm text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">End This Sort</a>
          <% if @cardtest.persisted? %>
            <p class="text-sm">
              Need to <%= link_to 'delete', { action: :destroy, uid: @cardtest.uid }, method: :delete, data: { confirm: 'Are you sure? This is permanent and cannot be undone.' }, class: "text-red-700 underline" %> this sort?
            </p>
          <% end %>
        </div>
      </div>

    <% else %>

      <div class="bg-gray-200 overflow-hidden rounded-lg mb-6 text-center">
        <div class="px-4 py-5 sm:p-6">
          <%= form.submit class: "btn btn--tertiary w-full end-test hidden", value:"End Sort", id:"publish-test" %>
          <p class="mb-6 block text-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-gray-200">This sort has been ended.</p>
          <% if @cardtest.persisted? %>
            <p class="text-sm">
              Need to <%= link_to 'delete', { action: :destroy, uid: @cardtest.uid }, method: :delete, data: { confirm: 'Are you sure? This is permanent and cannot be undone.' }, class: "text-red-700 underline" %> this sort?
            </p>
          <% end %>
        </div>
      </div>

    <% end %>
  <% rescue => ex %>

  <% end %>



<% end %>
