<div class="py-6 border-b">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:flex lg:items-center lg:justify-between">
      <div class="flex-1 min-w-0">
        <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
          <%= @cardtest.name %>
        </h1>
        <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap">
          <div class="mt-2 mr-6 flex items-center text-sm leading-5 text-gray-500">
            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"/>
            </svg>
            Created on <%= @cardtest.created_at.strftime("%m/%d/%Y") %>
          </div>
          <div class="mt-2 flex items-center text-sm leading-5 text-gray-500">
            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
              <path d="M7 9C7 7.89543 7.89543 7 9 7H15C16.1046 7 17 7.89543 17 9V15C17 16.1046 16.1046 17 15 17H9C7.89543 17 7 16.1046 7 15V9Z"/>
              <path d="M5 3C3.89543 3 3 3.89543 3 5V11C3 12.1046 3.89543 13 5 13L5 5H13C13 3.89543 12.1046 3 11 3H5Z"/>
            </svg>
            <%= (@cardtest.testtype).capitalize %> Sort
          </div>
        </div>
      </div>
      <div class="mt-4 flex lg:mt-0 lg:ml-4">
        <% begin %>
          <% if @cardtest.status == "draft" %>
            <span class="inline-flex self-center items-center mr-3 px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-orange-100 text-orange-800">
              <svg class="-ml-1 mr-1.5 h-2 w-2 text-orange-400" fill="currentColor" viewBox="0 0 8 8">
                <circle cx="4" cy="4" r="3" />
              </svg>
              Draft
            </span>
            <span class="shadow-sm rounded-md">
              <a href="<%= request.base_url %>/collect/<%= @cardtest.auth_token %>?preview=true" target="_blank" class="preview-btn inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                <svg class="-ml-1 mr-2 h-5 w-5 text-white" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 12C11.1046 12 12 11.1046 12 10C12 8.89543 11.1046 8 10 8C8.89544 8 8.00001 8.89543 8.00001 10C8.00001 11.1046 8.89544 12 10 12Z"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.457764 10C1.73202 5.94291 5.52232 3 9.99997 3C14.4776 3 18.2679 5.94288 19.5422 9.99996C18.2679 14.0571 14.4776 17 9.99995 17C5.52232 17 1.73204 14.0571 0.457764 10ZM14 10C14 12.2091 12.2091 14 10 14C7.79087 14 6.00001 12.2091 6.00001 10C6.00001 7.79086 7.79087 6 10 6C12.2091 6 14 7.79086 14 10Z"/>
                </svg>
                Preview
              </a>
            </span>
            <span class="ml-3 shadow-sm rounded-md">
              <button class="save-btn opacity-50 inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:shadow-outline-green focus:border-green-600 transition duration-150 ease-in-out">
                <svg class="-ml-1 mr-2 h-5 w-5 text-white" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM13.7071 8.70711C14.0976 8.31658 14.0976 7.68342 13.7071 7.29289C13.3166 6.90237 12.6834 6.90237 12.2929 7.29289L9 10.5858L7.70711 9.29289C7.31658 8.90237 6.68342 8.90237 6.29289 9.29289C5.90237 9.68342 5.90237 10.3166 6.29289 10.7071L8.29289 12.7071C8.68342 13.0976 9.31658 13.0976 9.70711 12.7071L13.7071 8.70711Z"/>
                </svg>
                Save
              </button>
            </span>

          <% elsif @cardtest.status == "published" %>

          <span class="inline-flex self-center items-center mr-3 px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800">
            <svg class="-ml-1 mr-1.5 h-2 w-2 text-green-400" fill="currentColor" viewBox="0 0 8 8">
              <circle cx="4" cy="4" r="3" />
            </svg>
            Published
          </span>
          <span class="shadow-sm rounded-md">
            <a href="<%= request.base_url %>/collect/<%= @cardtest.auth_token %>?preview=true" target="_blank" class="preview-btn inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
              <svg class="-ml-1 mr-2 h-5 w-5 text-white" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 12C11.1046 12 12 11.1046 12 10C12 8.89543 11.1046 8 10 8C8.89544 8 8.00001 8.89543 8.00001 10C8.00001 11.1046 8.89544 12 10 12Z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.457764 10C1.73202 5.94291 5.52232 3 9.99997 3C14.4776 3 18.2679 5.94288 19.5422 9.99996C18.2679 14.0571 14.4776 17 9.99995 17C5.52232 17 1.73204 14.0571 0.457764 10ZM14 10C14 12.2091 12.2091 14 10 14C7.79087 14 6.00001 12.2091 6.00001 10C6.00001 7.79086 7.79087 6 10 6C12.2091 6 14 7.79086 14 10Z"/>
              </svg>
              Preview
            </a>
          </span>

          <% else %>

            <span class="inline-flex self-center items-center mr-3 px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-gray-100 text-gray-800">
              <svg class="-ml-1 mr-1.5 h-2 w-2 text-gray-400" fill="currentColor" viewBox="0 0 8 8">
                <circle cx="4" cy="4" r="3" />
              </svg>
              Ended
            </span>

          <% end %>
          <% rescue => ex %>

        <% end %>

      </div>
    </div>
  </div>
</div>
<main class="py-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/3 xl:w-2/5 md:pr-16 mb-6">
        <% if @cardtest.status != "draft" %>
          <div class="py-4 bg-white rounded shadow px-4 my-4">
            <% @results = Result.where(cardtest_id: @cardtest.id) %>
            <% if @results.count > 0 %>
              <p class="text-sm text-center py-2">You have <strong><%= @results.count %> result(s)</strong>!</p>
              <div class="fields-inline items-end">
                <%= link_to cardtest_results_path(cardtest_uid: @cardtest.uid), class:"ml-2 btn btn--secondary w-full" do %>
                <i class="mr-2 fa fa-bar-chart" aria-hidden="true"></i> View Report
                <% end %>
              </div>
          <% else %>
            <h4 class="hidden mt-2 mb-2 font-semibold px-2 text-center">Your card sort doesn't have any results yet.</h4>
            <p class="text-sm text-center py-2">We'll email when you get your first response.</p>
          <% end %>
          </div>
        <% end %>
        <%= render 'publish', cardtest: @cardtest %>
      </div>

      <div class="w-full md:w-2/3 xl:w-3/5">

        <div class="border-b border-gray-200 mb-6">
          <nav class="tabs-holder -mb-px flex">
            <ul class="flex border-b">
              <li class="mr-1 tab-active">
                <a class="inline-block py-2 px-4 font-semibold" href="#setup">Setup</a>
              </li>
              <li class="mr-1 tab-inactive">
                <a class="inline-block py-2 px-4 font-semibold" href="#cards">Cards</a>
              </li>
            </ul>
          </nav>
        </div>

      <% begin %>

        <% if @cardtest.status == "draft" %>
          <%= render 'form', cardtest: @cardtest %>
        <% else %>
        <div class="locked-tabs p-4">
          <div class="tab-setup">
            <div class="field">
              <h4>Test name</h4>
              <input class="input" value="<%= @cardtest.name %>" disabled/>
            </div>
            <div class="field">
              <h4>Test type</h4>
              <ul>
                <li class="font-normal text-sm text-gray-700 mt-1 mb-2">- Test is set to <strong><%= @cardtest.testtype %></strong>.</li>
              </ul>

              <% if @cardtest.testtype == "closed" || @cardtest.testtype == "hybrid "%>
              <p class="uppercase text-xs font-semibold tracking-wider mt-6 mb-2">Predefined groups</p>
                <ul>
                  <li class="text-sm"><%= simple_format(@cardtest.fixedgroups) %></li>
                </ul>
              <% end %>
            </div>

            <div class="field">
              <h4>Logo</h4>

              <% if @cardtest.logoimg.attached? %>

                <%= image_tag(url_for(@cardtest.logoimg), id: "logo-uploaded") %>


              <% else %>

              <ul>
                <li class="font-normal text-sm text-gray-700 mt-1 mb-2">- No custom logo uploaded.</li>
              </ul>


              <% end %>

            </div>
            <div class="field">
              <h4>Test introduction</h4>
              <ul>
                <li class="font-normal text-sm text-gray-700 mt-1 mb-2"><%= simple_format(@cardtest.intro) %></li>
              </ul>
            </div>
            <div class="field">
              <h4>Thank you message</h4>
              <ul>
                <li class="font-normal text-sm text-gray-700 mt-1 mb-2"><%= simple_format(@cardtest.outro) %></li>
              </ul>
            </div>
          </div>

          <div class="tab-cards hidden">
            <div class="field">
              <h4>Card order</h4>
              <ul>
                <li class="font-normal text-sm text-gray-700 mt-1 mb-2">- <% if @cardtest.random %>Card order is randomized. <% else %> Card order is not randomized.<% end %></li>
              </ul>
            </div>
            <h4>Cards</h4>
            <div class="bg-white rounded shadow px-4 my-4">

              <ul>
                <% @cardtest.cards.sort_by(&:order).each_with_index do |card, index| %>

                <li class="<% if @cardtest.cards.length > index+1 %>border-b<% end %> py-4 clearfix">
                  <div class="float-left w-1/12 text-blue-500">
                    <%= index+1 %><%= ". "%>
                  </div>
                  <div class="float-left w-11/12">
                    <span class="text-gray-700"><strong><%= card.name %></strong></span><br/>
                    <span class="text-gray-500 text-sm"><%= card.description %></span>
                  </div>

                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <% end %>

        <% rescue => ex %>
        <% end %>

      </div>
    </div>
  </div>
</main>
