<div class="subhead border-t border-gray-200 bg-white">
  <div class="max-w-4xl mx-auto clearfix py-6 flex items-center px-6">
    <div class="flex-1">
      <h1 class="font-bold text-gray-600 text-xl"><%= @cardtest.name %></h1>
      <span class="text-gray-400 text-sm block">Created on <%= @cardtest.created_at.strftime("%F") %></span>
    </div>
    <div class="flex-2 text-right">
      <% begin %>

        <% if @cardtest.status == "draft" %>
          <span class="pill pill--secondary">Draft</span>
          <div class="dropdown float-none" data-controller="dropdown">
            <div class="dropdown__toggle" data-action="click->dropdown#toggle click@window->dropdown#hide" role="button">
              More
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="dropdown__icon" data-target="dropdown.icon"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
            </div>
            <div data-target="dropdown.menu" class="dropdown__menu hidden">
              <div class="dropdown__items">
                <% if @cardtest.persisted? %>
                  <%= link_to 'Delete test', { action: :destroy, uid: @cardtest.uid }, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown__item" %>
                <% end %>
              </div>
            </div>
          </div>
          <a href="<%= request.base_url %>/collect/<%= @cardtest.auth_token %>?preview=true" class="preview-btn btn-small btn--primary" target="_blank"><i class="mr-2 fa fa-external-link" aria-hidden="true"></i>Preview</a>
          <a href="#" class="ml-2 save-btn btn-small btn--secondary hidden"><i class="mr-2 fa fa-floppy-o" aria-hidden="true"></i>Save</a>

        <% elsif @cardtest.status == "published" %>

          <span class="pill pill--tertiary">Published</span>
          <div class="dropdown float-none" data-controller="dropdown">
            <div class="dropdown__toggle" data-action="click->dropdown#toggle click@window->dropdown#hide" role="button">
              More
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="dropdown__icon" data-target="dropdown.icon"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
            </div>
            <div data-target="dropdown.menu" class="dropdown__menu hidden">

              <div class="dropdown__items">
                <a href="#" class="end-t dropdown__item">End test</a>
                <% if @cardtest.persisted? %>
                  <%= link_to 'Delete test', { action: :destroy, uid: @cardtest.uid }, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown__item" %>
                <% end %>
              </div>
            </div>
          </div>
          <a href="<%= request.base_url %>/collect/<%= @cardtest.auth_token %>?preview=true" class="preview-btn btn-small btn--primary" target="_blank"><i class="mr-2 fa fa-external-link" aria-hidden="true"></i>Preview</a>

                <% @results = Result.where(cardtest_id: @cardtest.id) %>
                <% if @results.count > 0 %>
                  <%= link_to cardtest_results_path(cardtest_uid: @cardtest.uid), class:"ml-2 btn-small btn--secondary" do %>
                  <i class="mr-2 fa fa-bar-chart" aria-hidden="true"></i> View report
                <% end %>

                <% else %>


                <% end %>


        <% else %>

          <span class="pill pill--primary">Ended</span>

          <div class="dropdown float-none" data-controller="dropdown">
            <div class="dropdown__toggle" data-action="click->dropdown#toggle click@window->dropdown#hide" role="button">
              More
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="dropdown__icon" data-target="dropdown.icon"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
            </div>
            <div data-target="dropdown.menu" class="dropdown__menu hidden">
              <div class="dropdown__items">
                <% if @cardtest.persisted? %>
                  <%= link_to 'Delete test', { action: :destroy, uid: @cardtest.uid }, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown__item" %>
                <% end %>
              </div>
            </div>
          </div>

          <% @results = Result.where(cardtest_id: @cardtest.id) %>

          <% if @results.count > 0 %>
            <%= link_to cardtest_results_path(cardtest_uid: @cardtest.uid), class:"ml-2 btn-small btn--secondary" do %>
            <i class="mr-2 fa fa-bar-chart" aria-hidden="true"></i> View report
            <% end %>
          <% else %>


          <% end %>



        <% end %>
      <% rescue => ex %>

      <% end %>




    </div>
  </div>
</div>
<div class="mt-2 max-w-4xl mx-auto flex">


  <div class="w-2/3 p-4">

    <div class="tabs-holder p-4">
      <ul class="flex border-b">
        <li class="mr-1 tab-active">
          <a class="inline-block py-2 px-4 font-semibold" href="#setup">Setup</a>
        </li>
        <li class="mr-1 tab-inactive">
          <a class="inline-block py-2 px-4 font-semibold" href="#cards">Cards</a>
        </li>
        <!-- <li class="mr-1 tab-inactive">
          <a class="inline-block py-2 px-4 font-semibold" href="#customise">Customise</a>
        </li> -->
      </ul>
    </div>


      <% begin %>

        <% if @cardtest.status == "draft" %>
          <%= render 'form', cardtest: @cardtest %>
        <% else %>
        <div class="locked-tabs p-4">
          <div class="tab-setup">
            <div class="field">
              <h4>Test name</h4>
              <input class="input" value="<%= @cardtest.name %>" disabled/>
            </div>
            <div class="field">
              <h4>Test settings</h4>
              <ul>
                <li class="font-normal text-sm text-gray-700 mt-1 mb-2">- <% if @cardtest.random %>Card order is randomized. <% else %> Card order is not randomized.<% end %></li>
              </ul>
            </div>
            <div class="field">
              <h4>Logo</h4>

              <% if @cardtest.logoimg.attached? %>

                <%= image_tag(url_for(@cardtest.logoimg), id: "logo-uploaded") %>


              <% else %>

              <ul>
                <li class="font-normal text-sm text-gray-700 mt-1 mb-2">- No custom logo uploaded.</li>
              </ul>


              <% end %>

            </div>
          </div>

          <div class="tab-cards hidden">
            <h4>Cards</h4>
            <div class="bg-white rounded shadow px-4 my-4">

              <ul>
                <% @cardtest.cards.sort_by(&:order).each_with_index do |card, index| %>

                <li class="<% if @cardtest.cards.length > index+1 %>border-b<% end %> py-4">
                  <span class="text-blue-400"><%= index+1 %><%= ". "%></span><%= card.name %>

                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <% end %>




        <% rescue => ex %>
        <% end %>


  </div>

  <div class="w-1/3 p-4">
    <% if !@cardtest.status == "draft" %>
      <div class="py-4 bg-white rounded shadow px-4 my-4">
        <% @results = Result.where(cardtest_id: @cardtest.id) %>
        <% if @results.count > 0 %>
          <p class="text-sm text-center py-2">You have <strong><%= @results.count %> result(s)</strong>!</p>
          <div class="fields-inline items-end">
            <%= link_to cardtest_results_path(cardtest_uid: @cardtest.uid), class:"ml-2 btn btn--secondary w-full" do %>
            <i class="mr-2 fa fa-bar-chart" aria-hidden="true"></i> View report
            <% end %>
          </div>
        <% else %>
          <p class="text-sm text-center py-2">Your test doesn't have any results yet. Check back soon.</p>
        <% end %>

      </div>
    <% end %>

    <%= render 'publish', cardtest: @cardtest %>
  </div>


</div>
