


<div class="mt-16 max-w-4xl mx-auto flex">
  <div class="w-1/3 p-4">
    <header class="flex justify-between">
      <h1 class="text-3xl mb-4">Cardtests</h1>

      <div>
        <%= link_to "Add", new_cardtest_path, class: "btn btn--primary" %>
      </div>
    </header>
  </div>
  <div class="w-2/3 p-4">
    <table class="table">
      <thead>
        <tr>

          <th>Name</th>


              <th>Public collector link</th>
              <th>Results</th>
              <th>Status</th>
              <th>Actions</th>
              <th>Created on</th>

        </tr>
      </thead>

      <tbody>
        <% @cardtests.each do |cardtest| %>
          <%= content_tag :tr, id: dom_id(cardtest) do %>

              <td><%= link_to cardtest.name, cardtests_url+"/"+cardtest.uid+"/edit" %></td>
              <td><%= link_to cardtest.name, new_cardtest_result_path(cardtest_uid: cardtest.uid) %></td>





                        <td><%= link_to cardtest.results.count, cardtest_results_path(cardtest_uid: cardtest.uid) %></td>
                        <td>


                          <% begin %>
                            <% if cardtest.status == "0"%>
                              <span class="pill pill--secondary">Draft</span>

                            <% else %>


                              <span class="pill pill--tertiary">Published</span>




                            <% end %>
                          <% rescue => ex %>

                          <% end %>
                        </td>

                        <td>





                          <% begin %>
                            <% if cardtest.status == "0"%>
                                <%= link_to "Edit", cardtests_url+"/"+cardtest.uid+"/edit", class:"btn btn--primary" %>
                                <div class="dropdown border" data-controller="dropdown">
                                  <div class="dropdown__toggle" data-action="click->dropdown#toggle click@window->dropdown#hide" role="button">
                                    Actions
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="dropdown__icon" data-target="dropdown.icon"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
                                  </div>
                                  <div data-target="dropdown.menu" class="dropdown__menu hidden">
                                    <div class="dropdown__items">

                                      <%= link_to 'Destroy', { action: :destroy, uid: cardtest.uid }, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown__item" %>
                                      <%# <%= link_to 'Destroy', { action: :destroy, id: cardtest.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown__item" %>
                                      <%# <%= link_to 'Destroy', @cardtest, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown__item" %>


                                      <%# <%= link_to 'Destroy', cardtest_path(cardtest), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown__item" %>
                                      <%# <%= link_to 'Destroy', cardtest, :method => :delete, data: { confirm: 'Are you sure?' }, class: "dropdown__item" %>
                                    </div>
                                  </div>
                                </div>

                            <% else %>

                              <%= link_to "View report", cardtest_results_path(cardtest_uid: cardtest.uid), class:"btn btn--primary" %>
                              <div class="dropdown border" data-controller="dropdown">
                                <div class="dropdown__toggle" data-action="click->dropdown#toggle click@window->dropdown#hide" role="button">
                                  Actions
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="dropdown__icon" data-target="dropdown.icon"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
                                </div>
                                <div data-target="dropdown.menu" class="dropdown__menu hidden">
                                  <div class="dropdown__items">

                                    <%= link_to 'Destroy', { action: :destroy, uid: cardtest.uid }, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown__item" %>

                                  </div>
                                </div>
                              </div>


                            <% end %>
                          <% rescue => ex %>

                          <% end %>
                        </td>

                        <td><%= cardtest.created_at %></td>


          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
