<div class="py-6 border-b">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
        Card Sorts
        </h1>
      </div>
      <div class="mt-4 flex md:mt-0 md:ml-4">
        <span class="sm:ml-3 shadow-sm rounded-md">
          <%= link_to new_cardtest_path, {class: "inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"} do %>
            <svg class="-ml-1 mr-2 h-5 w-5 text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM11 7C11 6.44772 10.5523 6 10 6C9.44772 6 9 6.44772 9 7V9H7C6.44772 9 6 9.44771 6 10C6 10.5523 6.44772 11 7 11H9V13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H11V7Z" />
            </svg>
            New Card Sort   
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>
<main class="py-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

    <% if @cardtests.count > 0 %>

    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <div class="bg-white shadow overflow-hidden rounded-md">
          <ul>
            <% @cardtests.order("created_at desc").each do |cardtest| %>
              <li>
                <%= link_to cardtests_url+"/"+cardtest.uid+"/edit", {class: "block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 border-b border-gray-200 last:border-b-0 transition duration-150 ease-in-out"} do %>
                  <div class="px-4 py-4 sm:px-6">
                    <div class="flex items-center justify-between">
                      <div class="text-xl leading-5 font-medium text-indigo-600">
                      <%= cardtest.name %>
                      </div>
                      <div class="ml-2 flex-shrink-0 flex">
                        <% begin %>

                          <% if cardtest.status == "draft" %>
                            <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-orange-100 text-orange-800">
                              <svg class="-ml-1 mr-1.5 h-2 w-2 text-orange-400" fill="currentColor" viewBox="0 0 8 8">
                                <circle cx="4" cy="4" r="3" />
                              </svg>
                              Draft
                            </span>

                          <% elsif cardtest.status == "published" %>
                            <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800">
                              <svg class="-ml-1 mr-1.5 h-2 w-2 text-green-400" fill="currentColor" viewBox="0 0 8 8">
                                <circle cx="4" cy="4" r="3" />
                              </svg>
                              Published
                            </span>

                          <% else %>
                            <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-gray-100 text-gray-800">
                              <svg class="-ml-1 mr-1.5 h-2 w-2 text-gray-400" fill="currentColor" viewBox="0 0 8 8">
                                <circle cx="4" cy="4" r="3" />
                              </svg>
                              Ended
                            </span>

                          <% end %>
                          <% rescue => ex %>

                          <% end %>

                          <% begin %>
                            <% if cardtest.status == "0"%>
                              <%# <%= link_to "Edit", cardtests_url+"/"+cardtest.uid+"/edit", class:"btn btn--primary" %>
                              <%# <%= link_to 'Destroy', { action: :destroy, uid: cardtest.uid }, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown__item" %>

                            <% else %>

                              <%# <%= link_to "View report", cardtest_results_path(cardtest_uid: cardtest.uid), class:"btn btn--primary" %>

                            <% end %>
                          <% rescue => ex %>

                        <% end %>
                      </div>
                    </div>
                    <div class="mt-2 sm:flex sm:justify-between">
                      <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
                        <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                          <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"/>
                        </svg>
                        <span>
                          Created on <%= cardtest.created_at.strftime("%m/%d/%Y") %>
                        </span>
                      </div>
                    </div>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
  </div>
</main>

  <% else %>

  <div class="w-full m-auto text-center p-4 mt-8">
    <div class="justify-between">
      <p class="mb-3">Hey <%= current_user.first_name %>, ready to <%= link_to "set up a card sort", new_cardtest_path %>?</p>
    </div>
  </div>


  <% end %>
</div>
