  <div class="mt-16 max-w-xl mx-auto">
  <header class="flex justify-between">
    <h1 class="text-3xl mb-4">Show cardtest</h1>

    <div>
      <%= link_to 'Edit', cardtests_url+"/"+@cardtest.uid+"/edit", class: 'btn btn--primary' %>

    </div>
  </header>

    <div class="flex">
      <h2 class="w-full sm:w-1/4">Name:</h2>
      <p class="w-full sm:w-3/4"><%= @cardtest.name %></p>
    </div>
    <h2>Share link:</h2>
    <% cardtest = @cardtest %>
    <input type="text" value="<%= request.base_url %>/collect/<%= @cardtest.auth_token %>"/>


    <div class="flex">


      <ul id='cards'>
        <% @cardtest.cards.sort_by(&:order).each do |card| %>
          <li class="max-w-sm rounded overflow-hidden shadow-lg p-5"><%= card.name %></li>
        <% end %>
      </ul>







    </div>

</div>
