  <% content_for :page_title, "Log in to #{Rails.configuration.application_name}" %>
<% content_for :page_description, "Log in to your #{Rails.configuration.application_name} account to get access to your Ruby on Rails template." %>

<div class="mt-4 max-w-lg mx-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "card card--light p-4" }) do |f| %>
    <%= devise_error_messages! %>

    <h1 class="mt-2 mb-6 text-xl">Log in</h1>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'flex justify-between' do %>
        Password
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-grey-dark" %>
      <% end %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field flex items-center">
        <%= f.check_box :remember_me, class: "tgl tgl-light" %>
        <label class="tgl-btn" for="user_remember_me"></label>
        <label for="user_remember_me" class="ml-2">Remember me</label>
      </div>
    <% end -%>

    <div class="buttons">
      <%= f.submit "Log in", class: "btn btn--primary" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>

<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    <div>
      <%= link_to image_tag(asset_pack_path("media/images/uxmetrics-logo.svg"), size: "39x39", class: "mx-auto h-12 w-auto"), root_path, class: "" %>
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Log in to your account
      </h2>
      <p class="mt-2 text-center text-sm leading-5 text-gray-600">
        Or
        <%= link_to "sign up for free", new_user_registration_path, class: "font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:underline transition ease-in-out duration-150"%>
      </p>
    </div>
    <form class="mt-8" action="#" method="POST">
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm">
        <div>
          <input aria-label="Email address" name="email" type="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Email address">
        </div>
        <div class="-mt-px">
          <input aria-label="Password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Password">
        </div>
      </div>

      <div class="mt-6 flex items-center justify-between">
        <div class="flex items-center">
          <input id="remember_me" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out">
          <label for="remember_me" class="ml-2 block text-sm leading-5 text-gray-900">
            Remember me
          </label>
        </div>

        <div class="text-sm leading-5">
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:underline transition ease-in-out duration-150" %>
        </div>
      </div>

      <div class="mt-6">
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:border-purple-700 focus:shadow-outline-purple active:bg-purple-700 transition duration-150 ease-in-out">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-purple-500 group-hover:text-purple-400 transition ease-in-out duration-150" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          Log in
        </button>
      </div>
    </form>
  </div>
</div>

