<div class="mt-16 px-16 w-full mx-auto">

  <h1 class="text-2xl mb-4">Total users: <%= @users.count %></h1>
  <h1 class="text-2xl mb-4">Total cardtests: <%= Cardtest.all.count %></h1>
  <h1 class="text-2xl mb-4">Total results: <%= Result.all.count %></h1>



  <table data-page-size="5000" class="table text-sm admin-table">
  <thead class="uppercase text-gray-900 text-xs leading-tight font-medium">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th width="80">Email</th>
      <th>Signed up date</th>
      <th width="100">Days left of trial</th>
      <th data-type="numeric">Login counts</th>
      <th>Last sign in at</th>
      <th>Last sign in days ago</th>
      <th data-type="numeric">Total days active</th>
      <th data-type="numeric">Tests</th>
      <th data-type="numeric">Total results</th>
      <th width="400">Tests List</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr style="border-bottom:1px solid #eee; ">
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at %></td>
      <td><%= 60-((Time.now - user.created_at)/1.day).round %> day(s)</td>
      <td><%= user.sign_in_count %></td>
      <td><%= user.current_sign_in_at %></td>



      <td><% if user.current_sign_in_at? %>
        <%= ((Time.now - user.current_sign_in_at)/1.day).round %>
        <% end %> day(s) </td>

      <td data-sort-value="<% if user.current_sign_in_at? %><%= ((user.current_sign_in_at - user.created_at)/1.day).round %><% end %>">
        <% if user.current_sign_in_at? %>
        <%= ((user.current_sign_in_at - user.created_at)/1.day).round %>
        <% end %> day(s) </td>



      <td><%= user.cardtests.all.count %></td>
      <% resultscount = 0 %>
      <% user.cardtests.all.each do |test| %>
        <% resultscount = resultscount + Result.where(cardtest_id: test.id).count %>
      <% end %>
      <td data-sort-value="<%= resultscount %>"><%= resultscount %></td>
      <td>
        <ul>
        <% user.cardtests.all.each do |test| %>
          <li><%= link_to test.name, "cardtests/"+test.uid+"/edit", class: "text-sm underline text-indigo-600" %> - <%= test.status %> - <%= Result.where(cardtest_id: test.id).count %></li>
        <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>
