<footer class="footer-wrapper">
  <div class="footer container max-w-5xl mx-auto text-center">

    <p class="block"><strong>Useful links:&nbsp; </strong> <%= link_to "Pricing", pricing_path %>, <%= link_to "Features", features_path %>, <%= link_to "Terms and Conditions", terms_path %>, <%= link_to "Privacy Policy", privacy_path %></p>
    <p class="block"><strong>Support:&nbsp; </strong> <a href="mailto:support@uxops.com">Email</a>, <a href="https://twitter.com/uxops" target="_blank">Twitter</a></p>
    <p class="mt-2 block">&copy; <%= Time.zone.now.strftime("%Y") %> UXOps LLC.</p>
    <p class="text-sm mt-8">Illustrations by <a href="https://icons8.com" target="_blank">Ouch.pics</a></p>






  </div>
</footer>





<footer class="footer-wrapper hidden">
  <div class="footer container max-w-5xl mx-auto">
    <div class="footer__items">
      <%= link_to Rails.configuration.application_name, root_path, class: "text-sm text-gray-300 font-semibold uppercase tracking-wider" %>
      <p class="mt-2 text-xs text-gray-400">© <%= Time.zone.now.strftime("%Y") %></p>
    </div>

    <ul class="footer__items hidden">
      <%= tag.h6 "Company", class: "footer__item footer__heading" %>

      <li class="footer__item">
        <%= link_to "About", about_path, class: "footer__link" %>
      </li>
      <li class="footer__item">
        <%= link_to "Pricing", pricing_path, class: "footer__link" %>
      </li>
      <li class="footer__item">
        <%= link_to "Team", "#", class: "footer__link" %>
      </li>
      <li class="footer__item">
        <%= link_to "Vision", "#", class: "footer__link" %>
      </li>
    </ul>
    <ul class="footer__items">
      <%= tag.h6 "Support", class: "footer__item footer__heading" %>

      <li class="footer__item">
        <%# <%= link_to "Contact", contact_path, class: "footer__link" %>
        <a href="mailto:support@uxops.com">support@uxops.com</a>
      </li>
      <li class="footer__item">

      </li>
      <li class="footer__item">
        <%= link_to "Terms", terms_path, class: "footer__link" %> and
        <%= link_to "privacy", privacy_path, class: "footer__link" %>
      </li>
    </ul>
    <ul class="footer__items">
      <%= tag.h6 "Follow", class: "footer__item footer__heading" %>

      <li class="footer__item">
        <%# <%= link_to "Contact", contact_path, class: "footer__link" %>
        <a href="https://twitter.com/uxops" target="_blank">@uxops</a>
      </li>

    </ul>

    <div class="footer__items">

      Created by <a href="https://twitter.com/kaolti" target="_blank">@kaolti</a>
    </div>



    <ul class="footer__items">
      <%= tag.h6 "Features", class: "footer__item footer__heading" %>

      <li class="footer__item">
        <%= link_to "Features", features_path, class: "footer__link" %>

      </li>
      <li class="footer__item">
        <%= link_to "Feature 2", "#", class: "footer__link" %>
      </li>
      <li class="footer__item">
        <%= link_to "Feature 3", "#", class: "footer__link" %>
      </li>
    </ul>


  </div>
</footer>
