<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23516247-19"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23516247-19');
</script>

<!-- Hotjar Tracking Code for https://userdrive.co -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1540204,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<title><%= content_for?(:page_title)? yield(:page_title) : "#{Rails.configuration.application_name}" %></title>
<meta name="description" content="<%= content_for?(:page_description)? yield(:page_description) : "UX card descr" %>" />

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

  <script src="https://js.stripe.com/v3/"></script><%= render "shared/social_media_meta_tags" %>

<%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

<%= puts "HEAD" %>


<% if controller.controller_name == "results" && controller.action_name == "index" %>

  <%= javascript_pack_tag "report", "data-turbolinks-track": "reload" %>


<% end %>

<% if controller.controller_name == "results" && controller.action_name == "new" %>

  <%= javascript_pack_tag "result", "data-turbolinks-track": "reload" %>
<% end %>

<% if controller.controller_name == "cardtests" && controller.action_name == "edit" %>
  <%= javascript_pack_tag "edit", "data-turbolinks-track": "reload" %>
<% end %>

<% if controller.controller_name == "cardtests" && controller.action_name == "index" %>
  <%= javascript_pack_tag "index", "data-turbolinks-track": "reload" %>
<% end %>

<% if controller.controller_name == "cardtests" && controller.action_name == "new" %>
  <%= javascript_pack_tag "edit", "data-turbolinks-track": "reload" %>
  <%= puts "CARDTESTS" %>
<% end %>

<link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700&display=swap" rel="stylesheet">

<%= favicon_link_tag asset_pack_path('media/images/favicon.png') %>

<%= stylesheet_pack_tag "application", "data-turbolinks-track": "reload" %>
<meta name="viewport" content="width=device-width, initial-scale=1">
