<div class="item bg-white p-5 shadow m-2">
    <div class="drag-handle"><i class="fa fa-arrows"></i></div>
    <%= content_tag :div, class:"nested-field", data: {new_record: form.object.new_record?} do %>

      <div class="field">
        <%= form.text_field :name, class: "input" %>
        <%= form.hidden_field :id %>
      </div>

      <%= form.text_field :order %>
      <%= form.hidden_field :_destroy %>


<% end %>
</div>
