<% dataCompiled = [] %>

<% @results.each do |result| %>
  <% dataCompiled.push(result.data.to_json)%>
<% end %>

<%= javascript_tag do %>
  window.dataCompiled = <%=raw dataCompiled %>;
  window.groupsPerResult = <%=raw @groupsperresult %>;
<% end %>

<h4>Cards by groups</h4>

<ul>
<% @cardsByGroups.each do |cardIdRow| %>
  <li><%= cardIdRow %></li>
<% end %>
</ul>

<h5>Cards count:</h5>
<%= @cardsByGroups.count %>

<br/><br/><br/><br/>

<h4>Result groups</h4>

<ul>
<% @resultgroups.each do |cardIdRow| %>
  <li><%= cardIdRow %></li>
<% end %>
</ul>

<h5>Result count:</h5>
<%= @resultgroups.count %>


<div class="subhead border-t border-gray-200 bg-white pl-10 pr-10">
  <div class="max-w-6xl mx-auto clearfix py-6 flex items-center px-6">
    <div class="flex-1">
      <h1 class="font-bold text-gray-600 text-xl"><%= @cardtest.name %></h1>
      <span class="text-gray-400 text-sm block">Created on <%= @cardtest.created_at.strftime("%F") %></span>
    </div>
    <div class="flex-2 text-right">
      <%= link_to "Back to overview", cardtests_url+"/"+@cardtest.uid+"/edit", class: "btn-small btn--primary" %>



    </div>
  </div>
</div>

<div class="mt-16 max-w-6xl mx-auto flex pl-10 pr-10">
  <div class="w-2/3 p-4">




    <div class="bar-container mb-32"></div>






  </div>
  <div class="w-1/3 p-4">

    <div class="py-4 bg-white rounded shadow px-4 my-4">

      <p class="font-semibold px-2 text-center text-4xl text-green-600">
        <%= @results.count %>
      </p>
      <h4 class="-mt-2 font-semibold px-2 text-center">Results</h4>

    </div>
    <div class="py-4 bg-white rounded shadow px-4 my-4">


      <p class="font-semibold px-2 text-center text-4xl text-green-600">


      <h4 class="-mt-2 font-semibold px-2 text-center">Groups created</h4>

    </div>

    <div class="py-4 bg-white rounded shadow px-4 my-4">

      <p class="font-semibold px-2 text-center text-4xl text-green-600">
          <%= @mediantime %>
      </p>

      <h4 class="-mt-2 font-semibold px-2 text-center">Median time to complete</h4>

    </div>






</div>

</div>

<div class="analysis mt-16 mx-auto pl-10 pr-10 max-w-6xl clearfix">

  <h1 class="text-3xl mb-8 float-left">Detailed analysis</h1>

  <div class="table-tabs text-center mb-8 float-right">
    <a href="" class="font-semibold active mr-3">View cards</a>
    <a href="" class="font-semibold ml-3">View groups</a>
  </div>
  <table data-page-size="5000" data-paging="false" class="table text-sm cards-table">
    <thead class="uppercase text-gray-900 text-xs leading-tight font-medium">
      <tr>
        <th data-type="text" data-sort-initial="true">Card name</th>
        <th data-sort-ignore="true" width="200">Sorted into</th>
        <th data-sort-ignore="true" width="100"></th>
        <th data-type="numeric">Percentage of people sorted</th>
        <th data-type="numberic">Agreement score
          <!-- <i class="fa fa-info-circle" aria-hidden="true"></i> -->
        </th>
      </tr>
    </thead>
    <tbody>
      <% @cardsByGroups.each do |cardIdRow| %>
        <tr>
          <td><h3><%= JSON.parse(cardIdRow)["name"] %></h3></td>

          <td>
            <% puts "£££££££££££££WHATISTHIS:"%>
            <% puts JSON.parse(cardIdRow)['titles']%>
            <% titlesGroups = JSON.parse(cardIdRow)['titles'].partition{|v| v == "Unnamed"}
              # Separating titles into Unnamed and NOT, because we want Unnamed at the bottom and not grouped
              if titlesGroups.count == 2
                unnamedList = titlesGroups[0]
                titlesGroups[0] = titlesGroups[0].map{|k,v| [k, 1] }
                titlesGroups[1] = titlesGroups[1].group_by{|i| i}.map{|k,v| [k, v.count]}
                groups = titlesGroups[1].sort_by{|k|k[1]}.reverse + titlesGroups[0]
                # puts titlesGroups[1]
                # puts titlesGroups[0]
              else
                groups = titlesGroups[0].sort_by{|k|k[1]}.reverse
              end
            %>
            <ul class="categories-list">
              <%# <% JSON.parse(cardIdRow)["titles"].each do |group| %>
              <%# <% titlesGrouped = JSON.parse(cardIdRow)['titles'].group_by{|i| i}.map{|k,v| [k, v.count] } %>

              <%# <% titlesGrouped = JSON.parse(cardIdRow)['titles'].group_by{|i| i}.select{|title|title !='Unnamed'}.map{|k,v| [k, v.count] } %>

              <%# titlesGrouped %>
              <% groups.each do |element| %>
                <li><%= element[0] %>

                </li>

              <% end %>

            </ul>
          </td>
          <td>
            <% titlesGroups = JSON.parse(cardIdRow)['titles'].partition{|v| v == "Unnamed"}
              # Separating titles into Unnamed and NOT, because we want Unnamed at the bottom and not grouped
              if titlesGroups.count == 2
                unnamedList = titlesGroups[0]
                titlesGroups[0] = titlesGroups[0].map{|k,v| [k, 1] }
                titlesGroups[1] = titlesGroups[1].group_by{|i| i}.map{|k,v| [k, v.count]}
                groups = titlesGroups[1].sort_by{|k|k[1]}.reverse + titlesGroups[0]
                # puts titlesGroups[1]
                # puts titlesGroups[0]
              else
                groups = titlesGroups[0].sort_by{|k|k[1]}.reverse
              end
            %>
            <ul class="counts-list">
              <% groups.each do |element| %>
              <li><%= element[1] %>
                <% if element[1] == 1 %>
                  time
                <% else %>
                  times
                <% end %></li>
              <% end %>
            </ul>
          </td>
          <td data-sort-value="<%= JSON.parse(cardIdRow)['sortedpercent']*100 %>">
            <%= JSON.parse(cardIdRow)['sortedpercent'] %>%
          </td>
          <td data-sort-value="<%= JSON.parse(cardIdRow)['agreementscore'] %>">
            <%= JSON.parse(cardIdRow)['agreementscore'] %>%
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
  <% uniqueTitles = [] %>
  <% finalTitles = [] %>


  <% puts "resultgroups count: "+ @resultgroups.count.to_s %>



  <% @resultgroups.each_with_index do |cardIdRow, index| %>
    <% cardIdRow.each_with_index do |title, i| %>
      <% if title['card'].count > 0 %>
        <% uniqueTitles.push(title) %>
      <% end %>
    <% end %>
  <% end %>




  <% puts "WHAAAAAAAAAAAAT" %>
  <% puts uniqueTitles %>
  <% u = uniqueTitles.partition{|v| v["title"] == "Unnamed"}

  puts "paritioned"
  puts u[1]

  puts "before: "
  puts u[1]

  u[0].map!{|e| e.flatten}
  u[0].map!{|e| e.flatten}.each do |group|
    group.reject!{|x| x=="title" or x=="card"}
  end

  if u.count == 2
    u[1].map!{|e| e.flatten}.each do |group|
      group.reject!{|x| x=="title" or x=="card"}
    end

    u[1] = u[1].group_by(&:first).map{ |c, xs| [c.capitalize, xs.map(&:last)]}
    # u[1].group_by{|i| i["title"]}
    puts "after: "
    p u[1]
    finalTitles = u[1] + u[0]
    p "final titles before:"
    p finalTitles

    # finalTitles.group_by{|i| i}
    # p "final titles after group:"
    # p finalTitles


  else
    u[0] = u[0].group_by{|i| i["title"]}.group_by(&:first).map{ |c, xs| [c.capitalize, xs.map(&:last)]}
    finalTitles = u[0]
  end

  # fintalTitles.group_by{}

  puts "finalTitles count: "+ finalTitles.count.to_s
  # puts finalTitles

  %>


  <table data-page-size="5000" data-paging="false" class="table text-sm categories-table hidden">
    <thead class="uppercase text-gray-900 text-xs leading-tight font-medium">
      <tr>
        <th data-type="text" data-sort-initial="true">Group name</th>
        <th data-sort-ignore="true" width="200">Cards added</th>
        <th data-sort-ignore="true" width="100"></th>
        <th data-type="numeric">Percentage of people sorted</th>
        <th data-type="numberic">Agreement score
          <!-- <i class="fa fa-info-circle" aria-hidden="true"></i> -->
        </th>
      </tr>
    </thead>
    <tbody>
        <%# finalTitles.group_by{|i| i}.each_with_index do |title, index| %>
        <% finalTitles.map{|c,d| [c.capitalize, d]}.each_with_index do |title, index| %>
          <tr>
            <td><%= title %> - <%= index %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>

    </tbody>
  </table>

</div>
