<%= javascript_tag do %>
  window.testType = "<%=raw @cardtest.testtype %>";
<% end %>


<div class="w-full mx-auto">

<canvas id="canvas" class="hidden absolute" width="1000" height="1000" style="left:256px;"></canvas>

    <div id="columns" class="relative">

      <div class="card-columns flex h-screen" style="<% if request.original_url.include? "preview" %>padding-top: 125px;<% else %> padding-top: 72px;<% end %>">

        <div class="intial-column flex-none bg-gray-200 overflow-scroll">
          <div id="new-column" class="new-column m-2 w-64 mt-5 pb-20">
            <% if @cardtest.random %>
              <% @cardtest.cards.shuffle.each do |card| %>

                    <div id="<%= card.id %>" class="item bg-white px-3 py-3 shadow m-2 rounded">
                        <div class="hidden drag-handle"><i class="fa fa-arrows"></i></div>
                        <%= content_tag :div, class:"nested-field" do %>

                          <div class="field mb-0 text-sm cursor-default">
                            <p><%= card.name %></p>
                            <p class="hidden order"><%= card.order %></p>
                          </div>

                    <% end %>
                    </div>

              <% end %>

            <% else %>
              <% @cardtest.cards.sort_by(&:order).each do |card| %>


                    <div id="<%= card.id %>" class="item bg-white px-3 py-3 shadow m-2 rounded">
                        <div class="hidden drag-handle"><i class="fa fa-arrows"></i></div>
                        <%= content_tag :div, class:"nested-field" do %>

                          <div class="field mb-0 text-sm cursor-default">
                            <p><%= card.name %></p>
                            <p class="hidden order"><%= card.order %></p>
                          </div>





                    <% end %>
                    </div>

              <% end %>

            <% end %>

          </div>

        </div>
        <!-- <div class="new-column bg-indigo-900 m-6 flex-1">
        </div> -->









        <div id="test-columns" class="relative flex-1 mt-4 mx-2" style="">
        <!-- <div id="test-columns" class="relative flex-1 mt-5 mx-2"> -->
          <!-- <canvas style="width:1000px; height:1000px;"></canvas> -->
          <% @fixedgroups = @cardtest.fixedgroups.split("\r\n") %>

          <% if @fixedgroups.count < 1 || @cardtest.testtype == "open" %>
            <div class="helper text-center m-auto align-middle h-screen text-gray-500 font-bold pt-10">Drag items from the left here!</div>
          <% end %>
          <div class="muuri-sizer w-64"></div>

          <% if @cardtest.testtype == "closed" || @cardtest.testtype == "hybrid" %>
              <% @fixedgroups.each do |group| %>
                <div class="muuri-new-column mt-0 w-64 absolute rounded used-column bg-gray-300 fixedgroups">
                  <div class="column-holder">
                    <div class="group-header bg-white p-2">
                      <div class="muuri-handle inline-block text-xs text-gray-500"><i class="fa fa-arrows-alt"></i></div>
                      <p class="fixedname py-1 inline-block"><%= group %></p>
                      <input type="text" class="py-1 name-input w-full container-name input-small inline-block hidden" value="<%= group %>" placeholder="Add a name for your group ..."/>
                    </div>
                      <div class="items p-2 h-32">

                      </div>
                  </div>
                </div>
              <% end %>
          <% end %>
          <% if @cardtest.testtype != "closed" %>
          <div class="muuri-new-column mt-0 w-64 absolute rounded empty-column droparea hidden">
            <div class="column-holder">
              <div class="group-header hidden bg-white p-2">
                <div class="muuri-handle inline-block text-xs text-gray-500"><i class="fa fa-arrows-alt"></i></div>
                <a href="#" class="name-link py-1 inline-block">Add a name</a>
                <input type="text" class="py-1 name-input w-full container-name input-small inline-block hidden" placeholder="Add a name for your group ..."/>
                <a href="#" class="delete-group float-right text-sm pt-1 pr-1"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </div>
                <div class="items p-2 h-32">

                </div>
            </div>
          </div>
          <% end %>

        </div>

      </div>







      <%= render 'results_form'%>






    </div>






</div>
