<div class="bg-purple-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <div>
      <h1 class="text-4xl leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl">Card Sorts</h1>
      <p class="mt-5 text-xl leading-7 text-gray-500">Understand your users' mental models.</p>
    </div>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Create your free account", signup_path, class: "flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-teal-500 hover:bg-teal-400 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="grid grid-cols-1 gap-5 lg:grid lg:grid-cols-3">
      <!-- Open Sort Card -->
      <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <%= image_tag(asset_pack_path("media/images/open-sort-icon.svg", class: "h-10 w-10")) %>
            </div>
            <div class="ml-5 w-0 flex-1">
              <dl>
                <dt class="text-lg leading-6 font-medium text-gray-900">Open Sort</dt>
                <dd class="flex space-x-3 lg:py-0">
                  <span class="text-base leading-6 text-gray-500">Participants sort cards into groups <strong>they</strong> create and name.</span>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="bg-cool-gray-50 px-5 py-3">
          <div class="text-sm leading-5">
            <a href="https://uxmetrics.com/collect_cs/5KNTnY" class="inline-flex items-center justify-center font-medium text-purple-600 hover:text-purple-900 transition ease-in-out duration-150" target="blank">
              Try an open sort
              <svg class="-mr-1 ml-3 h-5 w-5 text-purple-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <!-- Closed Sort Card -->
      <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <%= image_tag(asset_pack_path("media/images/closed-sort-icon.svg", class: "h-10 w-10")) %>
            </div>
            <div class="ml-5 w-0 flex-1">
              <dl>
                <dt class="text-lg leading-6 font-medium text-gray-900">Closed Sort</dt>
                <dd class="flex space-x-3 lg:py-0">
                  <span class="text-base leading-6 text-gray-500">Participants sort cards into groups <strong>you</strong> create and name.</span>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="bg-cool-gray-50 px-5 py-3">
          <div class="text-sm leading-5">
            <a href="https://uxmetrics.com/collect_cs/y4WTCO" class="inline-flex items-center justify-center font-medium text-purple-600 hover:text-purple-900 transition ease-in-out duration-150" target="blank">
              Try a closed sort
              <svg class="-mr-1 ml-3 h-5 w-5 text-purple-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <!-- Hybrid Sort Card -->
      <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <%= image_tag(asset_pack_path("media/images/hybrid-sort-icon.svg", class: "h-10 w-10")) %>
            </div>
            <div class="ml-5 w-0 flex-1">
              <dl>
                <dt class="text-lg leading-6 font-medium text-gray-900">Hybrid Sort</dt>
                <dd class="flex space-x-3 lg:py-0">
                  <span class="text-base leading-6 text-gray-500">Participants sort cards into <strong>both</strong> types of groups.</span>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="bg-cool-gray-50 px-5 py-3">
          <div class="text-sm leading-5">
            <a href="#" class="inline-flex items-center justify-center font-medium text-purple-600 hover:text-purple-900 transition ease-in-out duration-150">
              Try a hybrid sort
              <svg class="-mr-1 ml-3 h-5 w-5 text-purple-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-16 px-4 sm:px-6 lg:py-16 lg:px-8 lg:grid lg:grid-cols-3 lg:col-gap-8">
    <div>
      <h2 class="text-base leading-6 font-semibold text-purple-600 uppercase tracking-wide">Features</h2>
      <p class="mt-2 text-3xl leading-9 font-extrabold text-gray-900">Card sorting made easy</p>
      <p class="mt-4 text-lg leading-7 text-gray-500">Everything you need to run any type of sort, analyze results and make recommendations.</p>
      <%= image_tag(asset_pack_path("media/images/cardsort-illustration.svg", class: "w-full")) %>
    </div>
    <div class="mt-12 lg:mt-0 lg:col-span-2">
      <dl class="space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:grid-rows-4 sm:grid-flow-col sm:col-gap-6 sm:row-gap-10 lg:col-gap-8">
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Remote or in-person</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">Your participants will have a great experience anywhere, whether they use their own device or your usability lab station.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Quick setup</dt>
            <dd class="flex space-x-3 lg:py-0 lg:pb-4">
              <span class="text-base leading-6 text-gray-500">Have your sort up and running in minutes, regardless of your skill level.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">High-level summary</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">See real-time participant patterns and study metrics at a glance.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Grouping visualization</dt>
            <dd class="flex space-x-3 lg:border-t-0 lg:py-0 lg:pb-4">
              <span class="text-base leading-6 text-gray-500">Visualize card and grouping relationships with a color-coded sankey chart.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Moderated or unmoderated</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">Participants can complete studies entirely on their own, or with you moderating (in-person or via Zoom, etc.)</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Custom branding</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">Upload your logo and optionally customize the welcome and thank you text.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Merge similar groups</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">Manually combine semantically or conceptually similar groups to further crystalize your results.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Manage invidual results</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">View each participant's sort and easily exclude or delete when needed.</span>
            </dd>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>

<div class="py-16 bg-gray-50 overflow-hidden lg:py-24">
  <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-screen-xl">
    <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
      <defs>
        <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
    </svg>

    <div class="relative">
      <h3 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Analyze your results
      </h3>
      <p class="mt-4 max-w-3xl mx-auto text-center text-xl leading-7 text-gray-500">
        Real-time reports that give you everything you need to make confident recommendations, and nothing you don't.
      </p>
    </div>

    <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
      <div class="relative">
        <h4 class="text-2xl leading-8 font-extrabold text-gray-900 tracking-tight sm:text-3xl sm:leading-9">
          See group and label patterns
        </h4>
        <p class="mt-3 text-lg leading-7 text-gray-500">
          Watch grouping and labeling trends emerge as participants complete your sort. Agreement scores and grouping visualizations make it easy to identify consensus.
        </p>

        <ul class="mt-10">
          <li>
            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-purple-500 text-white">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"></path>
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <h5 class="text-lg leading-6 font-medium text-gray-900">Summary</h5>
                <p class="mt-2 text-base leading-6 text-gray-500">
                  Find out how many logical buckets your content can be grouped into, and how long it's taking participants to complete the sort.
                </p>
              </div>
            </div>
          </li>
          <li class="mt-10">
            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-purple-500 text-white">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"></path>
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <h5 class="text-lg leading-6 font-medium text-gray-900">Details</h5>
                <p class="mt-2 text-base leading-6 text-gray-500">
                  Drill down into card, group and participant level data to better understand patterns and synthesize your recommendations.
                </p>
              </div>
            </div>
          </li>
          <li class="mt-10">
            <div class="flex">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center h-12 w-12 rounded-md bg-purple-500 text-white">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <h5 class="text-lg leading-6 font-medium text-gray-900">Visualizations</h5>
                <p class="mt-2 text-base leading-6 text-gray-500">
                  Easily identify the most common groups and connections made with a color-coded sankey chart.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="mt-10 -mx-4 relative lg:mt-0">
        <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
          <defs>
            <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
        </svg>
        <div class="transform skew-y-3">
          <%= image_tag(asset_pack_path("media/images/cardsort-report@2x.png", class: "relative mx-auto", width: "490")) %>
        </div>
      </div>
    </div>

    <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404" height="784" fill="none" viewBox="0 0 404 784">
      <defs>
        <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
    </svg>
    <div class="relative mt-12 sm:mt-16 lg:mt-24">
      <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
        <div class="lg:col-start-2">
          <h4 class="text-2xl leading-8 font-extrabold text-gray-900 tracking-tight sm:text-3xl sm:leading-9">
            Dive into the details
          </h4>
          <p class="mt-3 text-lg leading-7 text-gray-500">
            Fine-tune your analysis and recommendations with group merging and individual participant tools.
          </p>

          <ul class="mt-10">
            <li>
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-12 w-12 rounded-md bg-purple-500 text-white">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16v2a2 2 0 01-2 2H5a2 2 0 01-2-2v-7a2 2 0 012-2h2m3-4H9a2 2 0 00-2 2v7a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-1m-1 4l-3 3m0 0l-3-3m3 3V3"></path>
                    </svg>
                  </div>
                </div>
                <div class="ml-4">
                  <h5 class="text-lg leading-6 font-medium text-gray-900">Merge similar groups</h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    Manually and non-destructively combine semantically or conceptually similar groups to further crystalize your results.
                  </p>
                </div>
              </div>
            </li>
            <li class="mt-10">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-12 w-12 rounded-md bg-purple-500 text-white">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path>
                    </svg>
                  </div>
                </div>
                <div class="ml-4">
                  <h5 class="text-lg leading-6 font-medium text-gray-900">Individual participant results</h5>
                  <p class="mt-2 text-base leading-6 text-gray-500">
                    Easily navigate through each individual participant's sort, and exclude or delete them from your study data if needed.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
          <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
            <defs>
              <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
          </svg>
          <div class="transform -skew-y-3">
            <%= image_tag(asset_pack_path("media/images/cardsort-report-details@2x.png", class: "relative mx-auto", width: "490")) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-16 px-4 sm:px-6 lg:py-16 lg:px-8 flex flex-wrap">
    <div class="w-full">
      <p class="mt-2 text-3xl leading-9 font-extrabold text-gray-900">Easy as 1-2-3</p>
      <p class="w-full sm:w-1/3 mt-4 text-lg leading-7 text-gray-500">Set up and launch sorts in minutes, whether you're a complete beginner or a seasoned expert.</p>
    </div>
    <div class="w-full sm:w-1/3 pr-8 py-16 sm:py-16">
      <span class="flex items-center justify-center w-12 h-12 mb-4 text-2xl font-bold bg-purple-500 rounded-full text-white">1</span>
      <h2 class="text-lg leading-6 font-medium text-gray-900 mb-2">Create</h2>
      <p class="text-base leading-6 text-gray-500">Add the cards (and pre-defined groups for closed and hybrid sorts) that you want participants to categorize and label.</p>
    </div>

    <div class="w-full sm:w-1/3 pr-8 py-16 sm:py-16">
      <span class="flex items-center justify-center w-12 h-12 mb-4 text-2xl font-bold bg-purple-500 rounded-full text-white">2</span>
      <h2 class="text-lg leading-6 font-medium text-gray-900 mb-2">Share</h2>
      <p class="text-base leading-6 text-gray-500">Invite participants to your study by providing them with the included shareable link.</p>
    </div>

    <div class="w-full sm:w-1/3 py-8 sm:py-16">
      <span class="flex items-center justify-center w-12 h-12 mb-4 text-2xl font-bold bg-purple-500 rounded-full text-white">3</span>
      <h2 class="text-lg leading-6 font-medium text-gray-900 mb-2">Discover</h2>
      <p class="text-base leading-6 text-gray-500">Analyze the results and share confident recommendations with your team and stakeholders!</p>
    </div>
  </div>
</div>

<div class="bg-purple-50">
  <div class="max-w-screen-xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <h3 class="text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl text-center mb-8">
      Set up your first study
    </h3>
    <div class="flex justify-center mb-4">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Create your free account", signup_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>