<%= content_for :body_class, "bg-white" %>

<div class="bg-purple-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <div>
      <h1 class="text-4xl leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl">Card Sorts</h1>
      <p class="mt-5 text-xl leading-7 text-gray-500">Create an information architecture that makes sense to your users.</p>
    </div>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
          Try it out!
          <svg class="-mr-1 ml-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
            <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="grid grid-cols-1 gap-5 lg:grid lg:grid-cols-3">
      <!-- Open Sort Card -->
      <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <%= image_tag(asset_pack_path("media/images/open-sort-icon.svg", class: "h-10 w-10")) %>
            </div>
            <div class="ml-5 w-0 flex-1">
              <dl>
                <dt class="text-lg leading-6 font-medium text-gray-900">Open Sort</dt>
                <dd class="flex space-x-3 lg:py-0">
                  <span class="text-base leading-6 text-gray-500">Participants sort cards into groups <strong>they</strong> create and name.</span>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="bg-cool-gray-50 px-5 py-3">
          <div class="text-sm leading-5">
            <a href="#" class="inline-flex items-center justify-center font-medium text-purple-600 hover:text-purple-900 transition ease-in-out duration-150">
              Try an open sort
              <svg class="-mr-1 ml-3 h-5 w-5 text-purple-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <!-- Closed Sort Card -->
      <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <%= image_tag(asset_pack_path("media/images/closed-sort-icon.svg", class: "h-10 w-10")) %>
            </div>
            <div class="ml-5 w-0 flex-1">
              <dl>
                <dt class="text-lg leading-6 font-medium text-gray-900">Closed Sort</dt>
                <dd class="flex space-x-3 lg:py-0">
                  <span class="text-base leading-6 text-gray-500">Participants sort cards into groups <strong>you</strong> create and name.</span>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="bg-cool-gray-50 px-5 py-3">
          <div class="text-sm leading-5">
            <a href="#" class="inline-flex items-center justify-center font-medium text-purple-600 hover:text-purple-900 transition ease-in-out duration-150">
              Try a closed sort
              <svg class="-mr-1 ml-3 h-5 w-5 text-purple-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <!-- Hybrid Sort Card -->
      <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <%= image_tag(asset_pack_path("media/images/hybrid-sort-icon.svg", class: "h-10 w-10")) %>
            </div>
            <div class="ml-5 w-0 flex-1">
              <dl>
                <dt class="text-lg leading-6 font-medium text-gray-900">Hybrid Sort</dt>
                <dd class="flex space-x-3 lg:py-0">
                  <span class="text-base leading-6 text-gray-500">Participants sort cards into <strong>both</strong> types of groups.</span>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="bg-cool-gray-50 px-5 py-3">
          <div class="text-sm leading-5">
            <a href="#" class="inline-flex items-center justify-center font-medium text-purple-600 hover:text-purple-900 transition ease-in-out duration-150">
              Try a hybrid sort
              <svg class="-mr-1 ml-3 h-5 w-5 text-purple-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8 lg:grid lg:grid-cols-3 lg:col-gap-8">
    <div>
      <h2 class="text-base leading-6 font-semibold text-purple-600 uppercase tracking-wide">Features</h2>
      <p class="mt-2 text-3xl leading-9 font-extrabold text-gray-900">Card sorting made easy</p>
      <p class="mt-4 text-lg leading-7 text-gray-500">Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Malesuada adipiscing sagittis vel nulla nec.</p>
    </div>
    <div class="mt-12 lg:mt-0 lg:col-span-2">
      <dl class="space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:grid-rows-4 sm:grid-flow-col sm:col-gap-6 sm:row-gap-10 lg:col-gap-8">
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Invite team members</dt>
            <dd class="flex space-x-3 lg:py-0 lg:pb-4">
              <span class="text-base leading-6 text-gray-500">You can manage phone, email and chat conversations all from a single mailbox.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">List view</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">You can manage phone, email and chat conversations all from a single mailbox.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Keyboard shortcuts</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">You can manage phone, email and chat conversations all from a single mailbox.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Calendars</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">You can manage phone, email and chat conversations all from a single mailbox.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Notifications</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">Find what you need with advanced filters, bulk actions, and quick views.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Boards</dt>
            <dd class="flex space-x-3 lg:border-t-0 lg:py-0 lg:pb-4">
              <span class="text-base leading-6 text-gray-500">Find what you need with advanced filters, bulk actions, and quick views.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Reporting</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">Find what you need with advanced filters, bulk actions, and quick views.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-teal-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Mobile app</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">Find what you need with advanced filters, bulk actions, and quick views.</span>
            </dd>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container max-w-5xl mx-auto px-4 pt-24 text-center pb-12">
    <div class="flex flex-wrap">
      <div class="flex-1 text-center">
        <%= image_tag(asset_pack_path("media/images/setup.png"), class:"inline-block", style:"max-width:232px;") %>
        <h4 style="color:#718096;">Quick setup</h4>
      </div>
      <div class="flex-1 text-center">
        <%= image_tag(asset_pack_path("media/images/branding.png"), class:"inline-block", style:"max-width:232px;") %>
        <h4 style="color:#718096;">Custom branding</h4>
      </div>
      <div class="flex-1 text-center">
        <%= image_tag(asset_pack_path("media/images/reporting.png"), class:"inline-block", style:"max-width:232px;") %>
        <h4 style="color:#718096;">Simple reporting</h4>
      </div>
      <div class="flex-1 text-center">
        <%= image_tag(asset_pack_path("media/images/download.png"), class:"inline-block", style:"max-width:232px;") %>
        <h4 style="color:#718096;">Downloadable results</h4>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container max-w-5xl mx-auto flex flex-wrap px-8">
    <div class="w-full sm:w-1/3 pr-8 py-16 sm:py-16">
      <span class="flex items-center justify-center w-12 h-12 mb-4 text-2xl font-bold bg-blue-500 rounded-full text-white">1</span>
      <h2 class="mb-2 text-2xl font-semibold">Create cardtest</h2>
      <p class="text-lg text-gray-700">Add topics that you want people to categorize and label. These can be key pieces of content, navigation elements or product categories.</p>
    </div>

    <div class="w-full sm:w-1/3 pr-8 py-16 sm:py-16">
      <span class="flex items-center justify-center w-12 h-12 mb-4 text-2xl font-bold bg-purple-500 rounded-full text-white">2</span>
      <h2 class="mb-2 text-2xl font-semibold">Share your test</h2>
      <p class="text-lg text-gray-700">Invite your users to complete the test by sending out a shareable link. Ideally you want at least 15 responses to notice correlations.</p>
    </div>

    <div class="w-full sm:w-1/3 py-8 sm:py-16">
      <span class="flex items-center justify-center w-12 h-12 mb-4 text-2xl font-bold bg-purple-500 rounded-full text-white">3</span>
      <h2 class="mb-2 text-2xl font-semibold">Discover patterns</h2>
      <p class="text-lg text-gray-700">Analyse your results using our report, pick up patterns on how users group and label your cards.</p>
    </div>
  </div>
</div>

<div class="bg-white hidden">
  <div class="container max-w-5xl mx-auto px-4 pt-24">
    <h2 class="mb-2 text-2xl font-semibold text-center pb-8">Card sorting on another level</h2>
    <div class="flex flex-wrap">
      <div class="flex-1 text-center">
        <%= image_tag(asset_pack_path("media/images/setup.png"), class:"inline-block", style:"max-width:232px;") %>
        <h4 style="color:#718096;">Quick setup</h4>
      </div>
      <div class="flex-1 text-center">
        <%= image_tag(asset_pack_path("media/images/branding.png"), class:"inline-block", style:"max-width:232px;") %>
        <h4 style="color:#718096;">Custom branding</h4>
      </div>
      <div class="flex-1 text-center">
        <%= image_tag(asset_pack_path("media/images/reporting.png"), class:"inline-block", style:"max-width:232px;") %>
        <h4 style="color:#718096;">Simple reporting</h4>
      </div>
      <div class="flex-1 text-center">
        <%= image_tag(asset_pack_path("media/images/download.png"), class:"inline-block", style:"max-width:232px;") %>
        <h4 style="color:#718096;">Downloadable results</h4>
      </div>
    </div>

  </div>
</div>

<div class="bg-white container max-w-5xl mx-auto flex flex-wrap mb-24 mt-24 px-4 hidden">

<p class="mb-2 text-sm font-medium uppercase tracking-wider text-blue-500">Praised by pros</p>
  <div class="testimonials">

  <div class="testimonial">
    <p class="testimonial__content">
    “Finally an easy to use alternative to Omnisort!”
    </p>

    <div class="testimonial__author">
      <img alt="avatar of this author" class="testimonial__author-avatar" src="https://images.unsplash.com/photo-1558898479-33c0057a5d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=1.5&w=140&h=140&q=80" />

      <div class="ml-3">
        <p class="testimonial__author-name">Paul Boag</p>

        <a class="testimonial__author-link" href="https://twitter.com">@boagworks</a>
      </div>
    </div>
  </div>

  <div class="testimonial">
    <p class="testimonial__content">
    “Semiotics paleo tofu tacos viral shoreditch ennui swag. Retro pok pok hammock woke distillery.”
    </p>

    <div class="testimonial__author">
      <img alt="avatar of this author" class="testimonial__author-avatar" src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=1.5&w=140&h=140&q=80" />

      <div class="ml-3">
        <p class="testimonial__author-name">Mauricio Summerlin</p>

        <a class="testimonial__author-link" href="https://twitter.com">@mauricio</a>
      </div>
    </div>
  </div>

  <div class="testimonial">
    <p class="testimonial__content">
    “Twee cardigan hoodie drinking vinegar, lo-fi mustache bushwick hell of brooklyn etsy.”
    </p>

    <div class="testimonial__author">
      <img alt="avatar of this author" class="testimonial__author-avatar" src="https://images.unsplash.com/photo-1500522144261-ea64433bbe27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=1.5&w=140&h=140&q=80" />

      <div class="ml-3">
        <p class="testimonial__author-name">Alita Filkey</p>

        <a class="testimonial__author-link" href="https://twitter.com">@alita_f</a>
      </div>
    </div>
  </div>
  </div>



</div>



<div class="bg-white" style="">
  <div class="container max-w-5xl mx-auto py-8 sm:py-6 px-4">
    <p class="mb-2 text-sm font-medium uppercase tracking-wider text-blue-400 text-center hidden">Who is <%= Rails.configuration.application_name %> for?</p>
    <!-- <h3 class="mb-12 text-4xl leading-tight font-semibold text-gray-100 text-center">Getting better at understanding humans</h3> -->
    <h3 class="hidden mb-12 text-4xl leading-tight font-semibold text-gray-100 text-center">UXOps let's you run card sorting tests<span class="hidden" style="color:#27C366">*</span><br/> and analyze results</h3>

    <!-- <div class="columns flex flex-wrap mb-6 mt-24">

      <div class="w-full md:w-1/2">

        <h4 class="panel__heading panel__heading--dark">Together</h4>
        <p class="panel__content">Keffiyeh locavore street art chartreuse fam pop-up. Etsy brooklyn jianbing cardigan. Intelligentsia cray marfa normcore.</p>

      </div>
      <div class="w-full md:w-1/2 px-12">
        <%# image_tag(asset_pack_path("media/images/Create Test.png")) %>
      </div>

    </div> -->
    <div class="columns flex flex-wrap mb-6 mt-24 items-center">

      <div class="w-full md:w-1/3 pb-8 px-4">

        <h4 class="panel__heading panel__heading--light">Groups and labels</h4>
        <p class="panel__content">Participants group your content or topics and label the groups.</p>

      </div>

      <div class="w-full md:w-2/3 md:px-0 text-center">

        <%= image_tag(asset_pack_path("media/images/Test.png"), style:"max-width:100%;", class:"inline-block") %>
      </div>


    </div>
    <div class="columns flex flex-wrap mb-6 mt-24 items-center">

      <div class="w-full md:hidden pb-8  px-4">

        <h4 class="panel__heading panel__heading--light">Results summary</h4>
        <p class="panel__content">Find out how many logical buckets your content can be grouped in and how difficult the task is.</p>

      </div>
      <div class="w-full md:w-2/3 md:px-0 text-center">
        <%= image_tag(asset_pack_path("media/images/Overview.png"), class:"md:mt-8 inline-block", style:"max-width:70%;") %>
        <%# image_tag(asset_pack_path("media/images/Report Overview.png"), class:"md:mt-8") %>
      </div>
      <div class="w-full hidden md:w-1/3 md:block  px-4">

        <h4 class="panel__heading panel__heading--light">Results summary</h4>
        <p class="panel__content">Find out how many logical buckets your content can be grouped in and how difficult the task is.</p>

      </div>




    </div>
    <div class="columns flex flex-wrap mb-6 mt-24 items-center">

      <div class="w-full md:w-1/4 pb-8 px-4">

        <h4 class="panel__heading panel__heading--light">Detailed data</h4>
        <p class="panel__content">All the grouping data with agreement score to help you identify patterns in mental models.</p>

      </div>
      <div class="w-full md:w-3/4 md:px-0 text-center">
        <%= image_tag(asset_pack_path("media/images/Table.png"), style:"max-width:70%;", class:"inline-block") %>
        <%# image_tag(asset_pack_path("media/images/Report Table.png")) %>
      </div>

    </div>
    <div class="columns flex flex-wrap mb-6 mt-24 items-center">

      <div class="w-full md:hidden pb-8 px-4">

        <h4 class="panel__heading panel__heading--light">Visual connections</h4>
        <p class="panel__content">Easily identify the most common groups and connections made.</p>

      </div>
      <div class="w-full md:w-3/4 md:px-32">
        <%= image_tag(asset_pack_path("media/images/Sankey.png")) %>
      </div>
      <div class="w-full hidden md:w-1/4 md:block px-4">

        <h4 class="panel__heading panel__heading--light">Visual connections</h4>
        <p class="panel__content">Easily identify the most common groups and connections made.</p>

      </div>




    </div>

  </div>
</div>


<div class="bg-white">
  <div class="container max-w-5xl mx-auto py-8 sm:py-16 px-4">
    <div class="flex w-full m-auto">
      <div class="flex-1 p-2 m-2 py-4 pl-4 rounded text-center">
        <i class="fa fa-magic text-blue-500 mr-1 text-3xl mb-4" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold">Quick setup</h4>
      </div>
      <div class="flex-1 p-2 m-2 py-4 pl-4 rounded text-center">
        <i class="fa fa-pencil text-blue-500 mr-1 text-3xl mb-4" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold">Custom branding</h4>
      </div>
      <div class="flex-1 p-2 m-2 py-4 pl-4 rounded text-center">
        <i class="fa fa-bar-chart text-blue-500 mr-1 text-3xl mb-4" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold">Simple reporting</h4>
      </div>
      <div class="flex-1 p-2 m-2 py-4 pl-4 rounded text-center">
        <i class="fa fa-file-text-o text-blue-500 mr- text-3xl" mb-4 aria-hidden="true"></i>

        <h4 class="mb-0 font-bold">CSV Export</h4>
      </div>
    </div>
    <div class="flex w-full m-auto">
      <div class="flex-1 p-2 m-2 py-4 pl-4 rounded text-center">
        <i class="fa fa-cogs text-blue-500 mr-1 text-3xl mb-4" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold">Open, Closed<br/> and Hybrid sorting</h4>
      </div>
      <div class="flex-1 p-2 m-2 py-4 pl-4 rounded text-center">
        <i class="fa fa-clone text-blue-500 mr-1 text-3xl mb-4" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold">Merge similar groups</h4>
      </div>
      <div class="flex-1 p-2 m-2 py-4 pl-4 rounded text-center">
        <i class="fa fa-th-large text-blue-500 mr-1 text-3xl mb-4" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold">View individual results</h4>
      </div>
      <div class="flex-1 p-2 m-2 py-4 pl-4 rounded text-center">
        <i class="fa fa-clock-o text-blue-500 mr-1 text-3xl mb-4" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold">Task duration</h4>
      </div>
    </div>
  </div>
</div>