<%= content_for :body_class, "bg-white" %>
<div class="my-8 mx-auto max-w-5xl px-4 sm:my-8 sm:px-6 md:my-16 lg:my-16 xl:my-24">
  <div class="text-center">
    <h1 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
      Budget-friendly
      <br>
      <span class="text-purple-600">user research tools</span>
    </h1>
    <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
      Make confident research-based UX design decisions. 
      Create unlimited card sort and tree test studies with as many participants as you want.
    </p>
    <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8 mb-4">
      <div class="rounded-md shadow">
        <%= link_to "Get Started", new_user_registration_path, class: "w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:shadow-outline-purple transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10", id:"homepage-signup"%>
      </div>
    </div>
    <span class="block text-base text-purple-400">No credit card required</span>
  </div>
</div>
<div class="bg-purple-100">
  <div class="container max-w-5xl mx-auto py-8">
    <div class="flex flex-col md:flex-row">
      <div class="flex flex-1 w-full md:w-1/2 px-4 mb-8 md:mb-0">
        <div class="w-full bg-white shadow sm:rounded-lg">
          <div class="px-4 py-5 sm:p-6">
            <%= image_tag(asset_pack_path("media/images/cardsorts.svg", class: "")) %>
            <h3 class="text-xl leading-7 font-semibold text-gray-900">
              Card Sorting
            </h3>
            <div class="mt-2 max-w-xl text-sm leading-5 text-gray-500">
              <p class="text-base leading-6 text-gray-500">
                Find out how users group and label things so you can make confident decisions about your content structure.
              </p>
            </div>
            <div class="mt-5">
              <button type="button" class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-purple-700 bg-purple-100 hover:bg-purple-50 focus:outline-none focus:border-purple-300 focus:shadow-outline-purple active:bg-purple-200 transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                View Features
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-1 w-full md:w-1/2 px-4">
        <div class="w-full bg-white shadow sm:rounded-lg">
          <div class="px-4 py-5 sm:p-6">
            <%= image_tag(asset_pack_path("media/images/treetests.svg", class: "")) %>
            <h3 class="text-xl leading-7 font-semibold text-gray-900">
              Tree Testing
            </h3>
            <div class="mt-2 max-w-xl text-sm leading-5 text-gray-500">
              <p class="text-base leading-6 text-gray-500">
                Test and validate whether a navigation structure will work for your users.
              </p>
            </div>
            <div class="mt-5">
              <button type="button" class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-purple-700 bg-purple-100 hover:bg-purple-50 focus:outline-none focus:border-purple-300 focus:shadow-outline-purple active:bg-purple-200 transition ease-in-out duration-150 sm:text-sm sm:leading-5">
              View Features
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-12 bg-white">
  <div class="container max-w-5xl mx-auto py-8 sm:py-16 sm:pb-8 px-4">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <div class="flex items-center justify-center h-12 w-12 rounded-md bg-purple-500 text-white">
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/>
          </svg>
        </div>
        <div class="mt-5">
          <h5 class="text-lg leading-6 font-medium text-gray-900">Quick and easy setup</h5>
          <p class="mt-2 text-base leading-6 text-gray-500">
            Get your studies set up and ready to publish in minutes. Helpful tips are provided if you need them!
          </p>
        </div>
      </div>
      <div class="mt-10 lg:mt-0">
        <div class="flex items-center justify-center h-12 w-12 rounded-md bg-purple-500 text-white">
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path d="M5 3V7M3 5H7M6 17V21M4 19H8M13 3L15.2857 9.85714L21 12L15.2857 14.1429L13 21L10.7143 14.1429L5 12L10.7143 9.85714L13 3Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
          </svg>
        </div>
        <div class="mt-5">
          <h5 class="text-lg leading-6 font-medium text-gray-900">Great participant experience</h5>
          <p class="mt-2 text-base leading-6 text-gray-500">
            Fully responsive and mobile-friendly so your participants have a great experience on any device.
          </p>
        </div>
      </div>
      <div class="mt-10 lg:mt-0">
        <div class="flex items-center justify-center h-12 w-12 rounded-md bg-purple-500 text-white">
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path d="M11 3.05493C6.50005 3.55238 3 7.36745 3 12C3 16.9706 7.02944 21 12 21C16.6326 21 20.4476 17.5 20.9451 13H11V3.05493Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M20.4878 9H15V3.5123C17.5572 4.41613 19.5839 6.44285 20.4878 9Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="mt-5">
          <h5 class="text-lg leading-6 font-medium text-gray-900">Simple and clear reports</h5>
          <p class="mt-2 text-base leading-6 text-gray-500">
            Make sense of your results quickly with high-level metrics and the ability to dive deeper when needed.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="container max-w-5xl mx-auto py-8 sm:py-16 sm:pb-8 px-4">
    <p class="mb-2 text-sm font-medium uppercase tracking-wider text-purple-600 text-center">Unlock New Insights</p>
    <h3 class="text-3xl leading-9 tracking-tight font-extrabold text-gray-900 sm:text-4xl sm:leading-10 text-center">Time-tested UX research methodologies</h3>


    <div class="flex flex-col-reverse mt-8 md:w-3/4 w-full m-auto md:flex-row">
      <div class="flex-1 bg-purple-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-400 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 text-sm leading-6 font-bold text-gray-900 inline">Validate navigation hierarchy</h4>
      </div>
      <div class="flex-1 bg-purple-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-400 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 mb-0 text-sm leading-6 font-bold text-gray-900 inline inline">Find words and phrases that speak to users</h4>
      </div>
    </div>
    <div class="flex flex-col-reverse md:w-3/4 w-full m-auto md:flex-row">
      <div class="flex-1 bg-purple-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-400 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 mb-0 text-sm leading-6 font-bold text-gray-900 inline inline">Organize product categories</h4>
      </div>
      <div class="flex-1 bg-purple-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-400 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 mb-0 text-sm leading-6 font-bold text-gray-900 inline inline">Organize knowledge base content</h4>
      </div>
    </div>
    <div class="flex flex-col-reverse md:w-3/4 w-full m-auto md:flex-row">
      <div class="flex-1 bg-purple-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-400 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 mb-0 text-sm leading-6 font-bold text-gray-900 inline inline">Prioritize projects within initiatives</h4>
      </div>
      <div class="flex-1 bg-purple-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-400 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 mb-0 text-sm leading-6 font-bold text-gray-900 inline inline">Organize website content</h4>
      </div>
    </div>
    <div class="flex flex-col-reverse md:w-3/4 w-full m-auto md:flex-row">
      <div class="flex-1 bg-purple-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-400 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 mb-0 text-sm leading-6 font-bold text-gray-900 inline inline">Prioritize new features</h4>
      </div>
      <div class="flex-1 bg-purple-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-400 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 mb-0 text-sm leading-6 font-bold text-gray-900 inline inline">Find key content for your landing page</h4>
      </div>
    </div>
    <div class="flex flex-col-reverse md:w-3/4 w-full m-auto md:flex-row">
      <div class="flex-1 bg-purple-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-400 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 mb-0 text-sm leading-6 font-bold text-gray-900 inline inline">Find the tasks most important for your users</h4>
      </div>
      <div class="flex-1 bg-purple-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-400 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 mb-0 text-sm leading-6 font-bold text-gray-900 inline inline">Learn differences between user groups</h4>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container max-w-5xl mx-auto py-8 sm:py-32 sm:pt-16 px-4">
    <p class="mb-2 text-sm font-medium uppercase tracking-wider text-purple-600 text-center">Aha moments all around</p>
    <h3 class="text-3xl leading-9 tracking-tight font-extrabold text-gray-900 sm:text-4xl sm:leading-10 text-center">Insights for the whole product team</h3>

    <div class="columns flex flex-wrap mb-6 mt-24 items-center">

      <div class="w-full md:hidden md:px-0 text-center mb-16">
        <%# image_tag(asset_pack_path("media/images/Test.png")) %>
        <%= image_tag(asset_pack_path("media/images/clip-list-is-empty.png"), style:"max-width:70%;", class:"inline-block") %>
      </div>

      <div class="w-full md:w-1/2 pb-8 px-6">

        <h4 class="text-xl leading-7 font-semibold text-gray-900 mb-6">Designers</h4>
        <p class="text-base leading-6 text-gray-500">Make confident design decisions by relying on users to understand how they expect to see your content.<br/><br/> UXOps lets you gather insight on how pieces of content relate to each other and which of them are most important for your users, ultimately helping you deliver a design driven by users.</p>
      </div>

      <div class="w-full md:w-1/2 md:px-0 hidden md:block text-center">
        <%# image_tag(asset_pack_path("media/images/Test.png")) %>
        <%= image_tag(asset_pack_path("media/images/clip-list-is-empty.png"), style:"max-width:70%;", class:"inline-block") %>
      </div>
    </div>
    <div class="columns flex flex-wrap mb-6 mt-24 items-center">

      <div class="w-full md:w-1/2 md:px-0 text-center mb-16">
        <%= image_tag(asset_pack_path("media/images/clip-5.png"), class:"md:mt-8 inline-block", style:"max-width:70%;") %>
        <%# image_tag(asset_pack_path("media/images/Report Overview.png"), class:"md:mt-8") %>
      </div>
      <div class="w-full md:w-1/2 md:block px-6">

        <h4 class="text-xl leading-7 font-semibold text-gray-900 mb-6">Information Architects</h4>
        <p class="text-base leading-6 text-gray-500">Find out how users classify the information in your domain and use the insight to create usable website structures. <br/><br/>UXOps also helps you identify the words and phrases people associate with your content and how long they take to complete the test.</p>

      </div>
    </div>
    <div class="columns flex flex-wrap mb-6 mt-24 items-center">

      <div class="w-full md:w-1/2 md:hidden text-center mb-16">
        <%= image_tag(asset_pack_path("media/images/clip-education.png"), style:"max-width:70%;", class:"inline-block") %>
        <%# image_tag(asset_pack_path("media/images/Report Table.png")) %>
      </div>

      <div class="w-full md:w-1/2 pb-8 px-6">

        <h4 class="text-xl leading-7 font-semibold text-gray-900 mb-6">Product Managers</h4>
        <p class="text-base leading-6 text-gray-500">Make data-informed decisions when prioritizing features by asking users to rank them by importance. <br/><br/>Find out what the most important stories are for your MVP and drive consensus within your team by running a card sort for user story mapping.</p>

      </div>
      <div class="w-full md:w-1/2 md:px-0 hidden md:block text-center">
        <%= image_tag(asset_pack_path("media/images/clip-education.png"), style:"max-width:70%;", class:"inline-block") %>
        <%# image_tag(asset_pack_path("media/images/Report Table.png")) %>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <p class="mb-8 text-sm font-medium uppercase tracking-wider text-purple-600 text-center">Join the user research party</p>
  <div class="bg-white container max-w-5xl mx-auto flex flex-wrap px-2 mb-8 clients px-4">

    <div class="flex-1 text-center" style="line-height: 100px;">
      <%= image_tag(asset_pack_path("media/images/disney.png"), style: "display:inline-block; max-width:60%;") %>
    </div>
    <div class="flex-1 text-center" style="line-height: 100px;">
      <%= image_tag(asset_pack_path("media/images/uber.png"), style: "display:inline-block; max-width:50%;") %>
    </div>
    <div class="flex-1 text-center" style="line-height: 100px;">
      <%= image_tag(asset_pack_path("media/images/chargify.png"), style: "display:inline-block; max-width:70%;") %>
    </div>
    <div class="flex-1 text-center" style="line-height: 100px;">
      <%= image_tag(asset_pack_path("media/images/wayfair.png"), style: "display:inline-block; max-width:70%;") %>
    </div>
    <div class="flex-1 text-center" style="line-height: 100px;">
      <%= image_tag(asset_pack_path("media/images/cossette.png"), style: "display:inline-block; max-width:70%;") %>
    </div>
  </div>
</div>

<div class="bg-purple-100">
  <div class="max-w-screen-xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10 mb-8">
      Set up your first study
    </h2>
    <div class="flex justify-center mb-4">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Get Started", new_user_registration_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
    <span class="block text-base text-purple-400">No credit card required</span>
  </div>
</div>