<%= content_for :body_class, "bg-white" %>

<div class="hero">
  <div class="container hero__content banner flex flex-col-reverse md:flex-row">
    <div class="flex-none md:w-2/5 w-full pt-24">
      <h1 class="hero__heading">
        Understand your users.
      </h1>
      <h2 class="hero__subheading">
        Userdrive is a card sorting tool that makes it easy to research how your users relate to, organize and think about your content.
      </h2>

      <div class="mt-8 text-left m-auto w-full">
        <div class="fields-inline">
          <div class="field md:w-2/3 w-1/2 mb-1">
            <input type="text" id="email" class="input rounded-r-none w-full" style="padding-top:0.6rem !important;" placeholder="Your email address"/>
          </div>
          <div class="field md:w-1/3 w-1/2 mb-1">
            <%= link_to "Get started", new_user_registration_path, class: "btn btn--primary rounded-l-none w-full", id:"homepage-signup"%>
          </div>
        </div>
        <%# link_to "Start Free Trial", new_user_registration_path, class: "btn btn--primary-outline mr-4" %>
        <p class="block ml-2 text-sm text-gray-500 mt-2 hidden">7 day trial, then $24<span class="px-1">&bull;</span> 30 day money-back guarantee</p>
      </div>
    </div>
    <div class="flex-1 text-center pt-6 md:w-3/5">
      <%= image_tag(asset_pack_path("media/images/clip-programming.png"), class:"inline-block", style:"max-width:70%;") %>
    </div>

  </div>

  <!-- <div class="hero__image"></div> -->
</div>

<div class="bg-white">
  <div class="container max-w-5xl mx-auto px-4 pt-24 text-center">
    <h2 class="mb-2 text-2xl font-semibold text-center pb-8">Card sorting simplified</h2>
    <div class="flex flex-wrap">
      <div class="flex-1 text-center">
        <%= image_tag(asset_pack_path("media/images/setup.png"), class:"inline-block", style:"max-width:232px;") %>
        <h4 style="color:#718096;">Quick setup</h4>
      </div>
      <div class="flex-1 text-center">
        <%= image_tag(asset_pack_path("media/images/branding.png"), class:"inline-block", style:"max-width:232px;") %>
        <h4 style="color:#718096;">Custom branding</h4>
      </div>
      <div class="flex-1 text-center">
        <%= image_tag(asset_pack_path("media/images/reporting.png"), class:"inline-block", style:"max-width:232px;") %>
        <h4 style="color:#718096;">Simple reporting</h4>
      </div>
      <div class="flex-1 text-center">
        <%= image_tag(asset_pack_path("media/images/download.png"), class:"inline-block", style:"max-width:232px;") %>
        <h4 style="color:#718096;">Downloadable results</h4>
      </div>
    </div>
    <a href="/features" class="underline pt-8 shadow-none" style="color:#03B0FA">View all features <i class="hidden fa fa-arrow-right text-sm" aria-hidden="true" style="color:#03B0FA"></i></a>

  </div>
</div>

<div class="bg-white container max-w-5xl mx-auto flex flex-wrap mb-24 mt-24 px-4 hidden">

<p class="mb-2 text-sm font-medium uppercase tracking-wider text-blue-500">Praised by pros</p>
  <div class="testimonials">

  <div class="testimonial">
    <p class="testimonial__content">
    “Finally an easy to use alternative to Omnisort!”
    </p>

    <div class="testimonial__author">
      <img alt="avatar of this author" class="testimonial__author-avatar" src="https://images.unsplash.com/photo-1558898479-33c0057a5d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=1.5&w=140&h=140&q=80" />

      <div class="ml-3">
        <p class="testimonial__author-name">Paul Boag</p>

        <a class="testimonial__author-link" href="https://twitter.com">@boagworks</a>
      </div>
    </div>
  </div>

  <div class="testimonial">
    <p class="testimonial__content">
    “Semiotics paleo tofu tacos viral shoreditch ennui swag. Retro pok pok hammock woke distillery.”
    </p>

    <div class="testimonial__author">
      <img alt="avatar of this author" class="testimonial__author-avatar" src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=1.5&w=140&h=140&q=80" />

      <div class="ml-3">
        <p class="testimonial__author-name">Mauricio Summerlin</p>

        <a class="testimonial__author-link" href="https://twitter.com">@mauricio</a>
      </div>
    </div>
  </div>

  <div class="testimonial">
    <p class="testimonial__content">
    “Twee cardigan hoodie drinking vinegar, lo-fi mustache bushwick hell of brooklyn etsy.”
    </p>

    <div class="testimonial__author">
      <img alt="avatar of this author" class="testimonial__author-avatar" src="https://images.unsplash.com/photo-1500522144261-ea64433bbe27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=1.5&w=140&h=140&q=80" />

      <div class="ml-3">
        <p class="testimonial__author-name">Alita Filkey</p>

        <a class="testimonial__author-link" href="https://twitter.com">@alita_f</a>
      </div>
    </div>
  </div>
  </div>



</div>


<div class="bg-white hidden">
  <div class="container max-w-5xl mx-auto flex flex-wrap px-4">
    <div class="w-full sm:w-1/3 pr-8 py-16 sm:py-16">
      <span class="flex items-center justify-center w-12 h-12 mb-4 text-2xl font-bold text-gray-500 bg-blue-500 rounded-full">1</span>
      <h2 class="mb-2 text-2xl font-semibold">Create cardtest</h2>
      <p class="text-lg text-gray-700">Add topics that you want people to categorize and label. These can be key pieces of content, navigation elements or product categories.</p>
    </div>

    <div class="w-full sm:w-1/3 pr-8 py-16 sm:py-16">
      <span class="flex items-center justify-center w-12 h-12 mb-4 text-2xl font-bold text-gray-500 bg-purple-500 rounded-full">2</span>
      <h2 class="mb-2 text-2xl font-semibold">Share your test</h2>
      <p class="text-lg text-gray-700">Invite your users to complete the test by sending out a shareable link. Ideally you want at least 15 responses to notice correlations.</p>
    </div>

    <div class="w-full sm:w-1/3 py-8 sm:py-16">
      <span class="flex items-center justify-center w-12 h-12 mb-4 text-2xl font-bold text-gray-500 bg-indigo-500 rounded-full">3</span>
      <h2 class="mb-2 text-2xl font-semibold">Discover patterns</h2>
      <p class="text-lg text-gray-700">Analyse your results using our report, pick up patterns on how users group and label your cards.</p>
    </div>
  </div>
</div>

<div class="bg-white" style="">
  <div class="container max-w-5xl mx-auto py-8 sm:py-32 px-4">
    <p class="mb-2 text-sm font-medium uppercase tracking-wider text-blue-400 text-center">Who is <%= Rails.configuration.application_name %> for?</p>
    <!-- <h3 class="mb-12 text-4xl leading-tight font-semibold text-gray-100 text-center">Getting better at understanding humans</h3> -->
    <h3 class="hidden mb-12 text-4xl leading-tight font-semibold text-gray-100 text-center">Userdrive let's you run card sorting tests<span class="hidden" style="color:#27C366">*</span><br/> and analyze results</h3>

    <!-- <div class="columns flex flex-wrap mb-6 mt-24">

      <div class="w-full md:w-1/2">

        <h4 class="panel__heading panel__heading--dark">Together</h4>
        <p class="panel__content">Keffiyeh locavore street art chartreuse fam pop-up. Etsy brooklyn jianbing cardigan. Intelligentsia cray marfa normcore.</p>

      </div>
      <div class="w-full md:w-1/2 px-12">
        <%# image_tag(asset_pack_path("media/images/Create Test.png")) %>
      </div>

    </div> -->
    <div class="columns flex flex-wrap mb-6 mt-24 items-center">


      <div class="w-full md:hidden md:px-0 text-center mb-16">
        <%# image_tag(asset_pack_path("media/images/Test.png")) %>
        <%= image_tag(asset_pack_path("media/images/clip-list-is-empty.png"), style:"max-width:70%;", class:"inline-block") %>
      </div>

      <div class="w-full md:w-1/2 pb-8 px-6">

        <h4 class="panel__heading panel__heading--light mb-6">Designers</h4>
        <p class="panel__content">Make confident design decisions by relying on users to understand how they expect to see your content.<br/><br/> Userdrive let's you gather insight on how pieces of content relate to each other and which of them are most important for your users, ultimately helping you deliver a design driven by users.</p>


      </div>

      <div class="w-full md:w-1/2 md:px-0 hidden md:block text-center">
        <%# image_tag(asset_pack_path("media/images/Test.png")) %>
        <%= image_tag(asset_pack_path("media/images/clip-list-is-empty.png"), style:"max-width:70%;", class:"inline-block") %>
      </div>


    </div>
    <div class="columns flex flex-wrap mb-6 mt-24 items-center">


      <div class="w-full md:w-1/2 md:px-0 text-center mb-16">
        <%= image_tag(asset_pack_path("media/images/clip-5.png"), class:"md:mt-8 inline-block", style:"max-width:70%;") %>
        <%# image_tag(asset_pack_path("media/images/Report Overview.png"), class:"md:mt-8") %>
      </div>
      <div class="w-full md:w-1/2 md:block px-6">

        <h4 class="panel__heading panel__heading--light mb-6">Information Architects</h4>
        <p class="panel__content">Find out how users classify the information in your domain and use the insight to create usable website structures. <br/><br/>Userdrive also helps you identify the words and phrases people associate with your content and how long they take to complete the test.</p>

      </div>




    </div>
    <div class="columns flex flex-wrap mb-6 mt-24 items-center">

      <div class="w-full md:w-1/2 md:hidden text-center mb-16">
        <%= image_tag(asset_pack_path("media/images/clip-education.png"), style:"max-width:70%;", class:"inline-block") %>
        <%# image_tag(asset_pack_path("media/images/Report Table.png")) %>
      </div>

      <div class="w-full md:w-1/2 pb-8 px-6">

        <h4 class="panel__heading panel__heading--light mb-6">Product managers</h4>
        <p class="panel__content">Make data-informed decisions when prioritizing features by asking users to rank them by importance. <br/><br/>Find out what the most important stories are for your MVP and drive consensus within your team by running a card sort for user story mapping.</p>

      </div>
      <div class="w-full md:w-1/2 md:px-0 hidden md:block text-center">
        <%= image_tag(asset_pack_path("media/images/clip-education.png"), style:"max-width:70%;", class:"inline-block") %>
        <%# image_tag(asset_pack_path("media/images/Report Table.png")) %>
      </div>

    </div>
    <div class="columns flex flex-wrap mb-6 mt-24 items-center hidden">

      <div class="w-full md:hidden pb-8">

        <h4 class="panel__heading panel__heading--dark">Visual connections</h4>
        <p class="panel__content">Easily identify the most common groups and connections made.</p>

      </div>
      <div class="w-full md:w-3/4 md:px-32">
        <%= image_tag(asset_pack_path("media/images/Report Sankey.png")) %>
      </div>
      <div class="w-full hidden md:w-1/4 md:block">

        <h4 class="panel__heading panel__heading--dark">Visual connections</h4>
        <p class="panel__content">Easily identify the most common groups and connections made.</p>

      </div>




    </div>

  </div>
</div>



<div>
  <p class="mb-2 text-sm font-medium uppercase tracking-wider text-blue-400 text-center">Join more than 500 people from businesses like</p>
  <div class="bg-white container max-w-5xl mx-auto flex flex-wrap px-2 mb-6 mt-6 clients px-4">

    <div class="flex-1 text-center" style="line-height: 100px;">
      <%= image_tag(asset_pack_path("media/images/disney.png"), style: "display:inline-block; max-width:60%;") %>
    </div>
    <div class="flex-1 text-center" style="line-height: 100px;">
      <%= image_tag(asset_pack_path("media/images/uber.png"), style: "display:inline-block; max-width:50%;") %>
    </div>
    <div class="flex-1 text-center" style="line-height: 100px;">
      <%= image_tag(asset_pack_path("media/images/chargify.png"), style: "display:inline-block; max-width:70%;") %>
    </div>
    <div class="flex-1 text-center" style="line-height: 100px;">
      <%= image_tag(asset_pack_path("media/images/wayfair.png"), style: "display:inline-block; max-width:70%;") %>
    </div>
    <div class="flex-1 text-center" style="line-height: 100px;">
      <%= image_tag(asset_pack_path("media/images/cossette.png"), style: "display:inline-block; max-width:70%;") %>
    </div>
  </div>
</div>
<div class="hidden bg-white">
  <div class="container max-w-5xl mx-auto py-8 sm:py-32 px-4">
    <p class="mb-2 text-sm font-medium uppercase tracking-wider text-blue-500">1,234 customers (and counting) can't be wrong</p>
    <h3 class="text-4xl leading-tight font-medium">People <span class="text-red-400">♥</span> <%= Rails.configuration.application_name %></h3>

    <div class="testimonials">
      <div class="testimonial">
        <p class="testimonial__content">
        “Selfies direct trade swag next level, pickled photo booth vexillologist kombucha subway tile ennui. Semiotics cardigan tote bag, banjo readymade man bun iceland VHS ugh brunch sriracha pitchfork.”
        </p>

        <div class="testimonial__author">
          <%= image_tag "https://images.unsplash.com/photo-1488426862026-3ee34a7d66df?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=d5849d81af587a09dbcf3f11f6fa122f", alt: "avatar of this author", class: "testimonial__author-avatar" %>
          <div class="ml-3">
            <p class="testimonial__author-name">Jae Gwozdz</p>
            <%= link_to "@jaegwozdz", "https://twitter.com", class: "testimonial__author-link" %>
          </div>
        </div>
      </div>

      <div class="testimonial">
        <p class="testimonial__content">
        “Semiotics paleo tofu tacos viral shoreditch ennui swag. Retro pok pok hammock woke distillery mumblecore air plant migas paleo waistcoat. Humblebrag fam chambray next level.”
        </p>

        <div class="testimonial__author">
          <%= image_tag "https://images.unsplash.com/photo-1476900966873-ab290e38e3f7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=fe0976a79ece0ee8effca4cab4527ae2", alt: "avatar of this author", class: "testimonial__author-avatar" %>
          <div class="ml-3">
            <p class="testimonial__author-name">Mauricio Summerlin</p>
            <%= link_to "@mauricio", "https://twitter.com", class: "testimonial__author-link" %>
          </div>
        </div>
      </div>

      <div class="testimonial">
        <p class="testimonial__content">
        “Twee cardigan hoodie drinking vinegar, lo-fi mustache bushwick hell of brooklyn etsy. Polaroid food truck cloud bread art party, drinking vinegar normcore literally vape migas forage yr +1 asymmetrical coloring book bitters.”
        </p>

        <div class="testimonial__author">
          <%= image_tag "https://images.unsplash.com/photo-1498529381350-89c2e7ccc430?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=f6143f1f2142185de1e1e3d955f729ec", alt: "avatar of this author", class: "testimonial__author-avatar" %>
          <div class="ml-3">
            <p class="testimonial__author-name">Alita Filkey</p>
            <%= link_to "@alita_f", "https://twitter.com", class: "testimonial__author-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container max-w-5xl mx-auto py-8 sm:py-32 px-4">
    <p class="hidden mb-2 text-sm font-medium uppercase tracking-wider text-blue-500">The mission</p>
    <h3 class="text-4xl leading-tight font-bold text-center">What can you do with Userdrive?</h3>


    <div class="flex flex-col-reverse mt-8 md:w-3/4 w-full m-auto md:flex-row">
      <div class="flex-1 bg-blue-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-500 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold text-sm inline">Validate navigation hierarchy</h4>
      </div>
      <div class="flex-1 bg-blue-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-500 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold text-sm inline">Find words and phrases that speak to users</h4>
      </div>
    </div>
    <div class="flex flex-col-reverse md:w-3/4 w-full m-auto md:flex-row">
      <div class="flex-1 bg-blue-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-500 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold text-sm inline">Organize product categories</h4>
      </div>
      <div class="flex-1 bg-blue-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-500 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold text-sm inline">Organise knowledge base content</h4>
      </div>
    </div>
    <div class="flex flex-col-reverse md:w-3/4 w-full m-auto md:flex-row">
      <div class="flex-1 bg-blue-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-500 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold text-sm inline">Prioritize projects within initiatives</h4>
      </div>
      <div class="flex-1 bg-blue-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-500 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold text-sm inline">Organise website content</h4>
      </div>
    </div>
    <div class="flex flex-col-reverse md:w-3/4 w-full m-auto md:flex-row">
      <div class="flex-1 bg-blue-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-500 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold text-sm inline">Prioritize new features</h4>
      </div>
      <div class="flex-1 bg-blue-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-500 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold text-sm inline">Find key pieces of content for your landing page</h4>
      </div>
    </div>
    <div class="flex flex-col-reverse md:w-3/4 w-full m-auto md:flex-row">
      <div class="flex-1 bg-blue-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-500 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold text-sm inline">Find the tasks most important for your users</h4>
      </div>
      <div class="flex-1 bg-blue-100 p-2 m-2 py-4 pl-4 rounded">
        <i class="fa fa-check text-green-500 mr-1" aria-hidden="true"></i>

        <h4 class="mb-0 font-bold text-sm inline">Understand differences between user groups</h4>
      </div>
    </div>


  </div>
</div>

<div class="bg-blue-100" style="">
  <div class="container max-w-5xl mx-auto text-center py-8 sm:py-32 px-4">
    <h3 class="mb-2 text-4xl leading-tight font-bold text-gray-800">Start testing today</h3>
    <p class="text-lg text-blue-400">Understand your users and create something they love.</p>
    <div class="mt-8">
      <%= link_to "Get started", new_user_registration_path, class: "nav__item btn btn--primary" %>
      <%# link_to "Start Free Trial", new_user_registration_path, class: "btn btn--primary-outline mr-4" %>
      <span class="hidden block text-xs text-blue-400 mt-2">2 month early access for the first 1,000 users &middot; No credit card</span>
    </div>
  </div>
</div>
