<%= content_for :body_class, "bg-gray-800" %>

<div class="hero">
  <div class="container hero__content banner">
    <h1 class="hero__heading">
      Improve user experience by understanding how users think about your content.
    </h1>
    <h2 class="hero__subheading">
      Use card sorting to gain insight into your user's mental models.
    </h2>

    <div class="mt-8 text-center m-auto sm:w-5/6 w-full md:w-4/6 ">
      <div class="fields-inline">
        <div class="field md:w-2/3 w-1/2 mb-1">
          <input type="text" id="email" class="input rounded-r-none w-full" style="padding-top:0.6rem !important;" placeholder="Your email address"/>
        </div>
        <div class="field md:w-1/3 w-1/2 mb-1">
          <%= link_to "Create account", new_user_registration_path, class: "btn btn--primary rounded-l-none w-full", id:"homepage-signup"%>
        </div>
      </div>
      <%# link_to "Start Free Trial", new_user_registration_path, class: "btn btn--primary-outline mr-4" %>
      <p class="block ml-2 text-sm text-gray-200 mt-2">2 month early access for the first 1,000 users<span class="px-1">&bull;</span> No credit card</p>
    </div>
  </div>

  <!-- <div class="hero__image"></div> -->
</div>

<div class="bg-white">
  <div class="container max-w-5xl mx-auto flex flex-wrap px-8">
    <div class="w-full sm:w-1/3 pr-8 py-16 sm:py-16">
      <span class="flex items-center justify-center w-12 h-12 mb-4 text-2xl font-bold text-white bg-blue-500 rounded-full">1</span>
      <h2 class="mb-2 text-2xl font-semibold">Create cardtest</h2>
      <p class="text-lg text-gray-700">Add topics that you want people to categorize and label. These can be key pieces of content, navigation elements or product categories.</p>
    </div>

    <div class="w-full sm:w-1/3 pr-8 py-16 sm:py-16">
      <span class="flex items-center justify-center w-12 h-12 mb-4 text-2xl font-bold text-white bg-purple-500 rounded-full">2</span>
      <h2 class="mb-2 text-2xl font-semibold">Share your test</h2>
      <p class="text-lg text-gray-700">Invite your users to complete the test by sending out a shareable link. Ideally you want at least 15 responses to notice correlations.</p>
    </div>

    <div class="w-full sm:w-1/3 py-8 sm:py-16">
      <span class="flex items-center justify-center w-12 h-12 mb-4 text-2xl font-bold text-white bg-indigo-500 rounded-full">3</span>
      <h2 class="mb-2 text-2xl font-semibold">Discover patterns</h2>
      <p class="text-lg text-gray-700">Analyse your results using our report, pick up patterns on how users group and label your cards.</p>
    </div>
  </div>
</div>

<div class="bg-gray-800" style="background: radial-gradient(1270.42px at 0% 0%, #212A38 0%, #2D3748 100%);">
  <div class="container max-w-5xl mx-auto px-8 py-8 sm:py-32">
    <p class="mb-2 text-sm font-medium uppercase tracking-wider text-blue-400 text-center">What does <%= Rails.configuration.application_name %> do?</p>
    <!-- <h3 class="mb-12 text-4xl leading-tight font-semibold text-gray-100 text-center">Getting better at understanding humans</h3> -->
    <h3 class="mb-12 text-4xl leading-tight font-semibold text-gray-100 text-center">Userdrive let's you run card sorting tests<span class="hidden" style="color:#27C366">*</span><br/> and analyze results</h3>

    <!-- <div class="columns flex flex-wrap mb-6 mt-24">

      <div class="w-full md:w-1/2">

        <h4 class="panel__heading panel__heading--dark">Together</h4>
        <p class="panel__content">Keffiyeh locavore street art chartreuse fam pop-up. Etsy brooklyn jianbing cardigan. Intelligentsia cray marfa normcore.</p>

      </div>
      <div class="w-full md:w-1/2 px-12">
        <%= image_tag(asset_pack_path("media/images/Create Test.png")) %>
      </div>

    </div> -->
    <div class="columns flex flex-wrap mb-6 mt-24 items-center">

      <div class="w-full md:w-1/4 pb-8">

        <h4 class="panel__heading panel__heading--dark">Groups and labels</h4>
        <p class="panel__content">Participants group your content or topics and label the groups.</p>

      </div>

      <div class="w-full md:w-3/4 md:px-24">
        <%= image_tag(asset_pack_path("media/images/Test.png")) %>
      </div>


    </div>
    <div class="columns flex flex-wrap mb-6 mt-24 items-center">

      <div class="w-full md:hidden pb-8">

        <h4 class="panel__heading panel__heading--dark">Results summary</h4>
        <p class="panel__content">Find out how many logical buckets your content can be grouped in and how difficult the task is.</p>

      </div>
      <div class="w-full md:w-3/4 md:px-24">
        <%= image_tag(asset_pack_path("media/images/Report Overview.png"), class:"md:mt-8") %>
      </div>
      <div class="w-full hidden md:w-1/4 md:block">

        <h4 class="panel__heading panel__heading--dark">Results summary</h4>
        <p class="panel__content">Find out how many logical buckets your content can be grouped in and how difficult the task is.</p>

      </div>




    </div>
    <div class="columns flex flex-wrap mb-6 mt-24 items-center">

      <div class="w-full md:w-1/4 pb-8">

        <h4 class="panel__heading panel__heading--dark">Detailed data</h4>
        <p class="panel__content">All the grouping data with agreement score to help you identify patterns in mental models.</p>

      </div>
      <div class="w-full md:w-3/4 md:px-24">
        <%= image_tag(asset_pack_path("media/images/Report Table.png")) %>
      </div>

    </div>
    <div class="columns flex flex-wrap mb-6 mt-24 items-center">

      <div class="w-full md:hidden pb-8">

        <h4 class="panel__heading panel__heading--dark">Visual connections</h4>
        <p class="panel__content">Easily identify the most common groups and connections made.</p>

      </div>
      <div class="w-full md:w-3/4 md:px-32">
        <%= image_tag(asset_pack_path("media/images/Report Sankey.png")) %>
      </div>
      <div class="w-full hidden md:w-1/4 md:block">

        <h4 class="panel__heading panel__heading--dark">Visual connections</h4>
        <p class="panel__content">Easily identify the most common groups and connections made.</p>

      </div>




    </div>

  </div>
</div>

<div class="bg-white">
  <div class="container max-w-5xl mx-auto px-8 py-8 sm:py-32">
    <p class="mb-2 text-sm font-medium uppercase tracking-wider text-blue-500">The mission</p>
    <h3 class="text-4xl leading-tight font-medium">Good UX is not rocket science, we just need the right tools.</h3>
  </div>
</div>
<div class="hidden bg-white">
  <div class="container max-w-5xl mx-auto px-8 py-8 sm:py-32">
    <p class="mb-2 text-sm font-medium uppercase tracking-wider text-blue-500">1,234 customers (and counting) can't be wrong</p>
    <h3 class="text-4xl leading-tight font-medium">People <span class="text-red-400">♥</span> <%= Rails.configuration.application_name %></h3>

    <div class="testimonials">
      <div class="testimonial">
        <p class="testimonial__content">
        “Selfies direct trade swag next level, pickled photo booth vexillologist kombucha subway tile ennui. Semiotics cardigan tote bag, banjo readymade man bun iceland VHS ugh brunch sriracha pitchfork.”
        </p>

        <div class="testimonial__author">
          <%= image_tag "https://images.unsplash.com/photo-1488426862026-3ee34a7d66df?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=d5849d81af587a09dbcf3f11f6fa122f", alt: "avatar of this author", class: "testimonial__author-avatar" %>
          <div class="ml-3">
            <p class="testimonial__author-name">Jae Gwozdz</p>
            <%= link_to "@jaegwozdz", "https://twitter.com", class: "testimonial__author-link" %>
          </div>
        </div>
      </div>

      <div class="testimonial">
        <p class="testimonial__content">
        “Semiotics paleo tofu tacos viral shoreditch ennui swag. Retro pok pok hammock woke distillery mumblecore air plant migas paleo waistcoat. Humblebrag fam chambray next level.”
        </p>

        <div class="testimonial__author">
          <%= image_tag "https://images.unsplash.com/photo-1476900966873-ab290e38e3f7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=fe0976a79ece0ee8effca4cab4527ae2", alt: "avatar of this author", class: "testimonial__author-avatar" %>
          <div class="ml-3">
            <p class="testimonial__author-name">Mauricio Summerlin</p>
            <%= link_to "@mauricio", "https://twitter.com", class: "testimonial__author-link" %>
          </div>
        </div>
      </div>

      <div class="testimonial">
        <p class="testimonial__content">
        “Twee cardigan hoodie drinking vinegar, lo-fi mustache bushwick hell of brooklyn etsy. Polaroid food truck cloud bread art party, drinking vinegar normcore literally vape migas forage yr +1 asymmetrical coloring book bitters.”
        </p>

        <div class="testimonial__author">
          <%= image_tag "https://images.unsplash.com/photo-1498529381350-89c2e7ccc430?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=f6143f1f2142185de1e1e3d955f729ec", alt: "avatar of this author", class: "testimonial__author-avatar" %>
          <div class="ml-3">
            <p class="testimonial__author-name">Alita Filkey</p>
            <%= link_to "@alita_f", "https://twitter.com", class: "testimonial__author-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-blue-800" style="background: radial-gradient(1270.42px at 0% 0%, #14355F 0%, #2C5282 100%)">
  <div class="container max-w-5xl mx-auto px-8 text-center py-8 sm:py-32">
    <h3 class="mb-2 text-4xl leading-tight font-medium text-blue-100">Ready for more human understanding?</h3>
    <p class="text-lg text-blue-200">Try for free during early access.</p>
    <div class="mt-8">
      <%= link_to "Create account", new_user_registration_path, class: "nav__item btn btn--primary" %>
      <%# link_to "Start Free Trial", new_user_registration_path, class: "btn btn--primary-outline mr-4" %>
      <span class="block text-xs text-blue-400 mt-2">2 month early access for the first 1,000 users &middot; No credit card</span>
    </div>
  </div>
</div>
