<% content_for :page_title, "Create your #{Rails.configuration.application_name} account." %>
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    <div>
      <%= link_to image_tag(asset_pack_path("media/images/uxmetrics-logo.svg"), size: "39x39", class: "mx-auto h-12 w-auto"), root_path, class: "" %>
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Create your account
      </h2>
      <p class="mt-2 text-center text-sm leading-5 text-gray-600">
        Or
        <%= link_to "Log in", login_path, class: "font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:underline transition ease-in-out duration-150" %>
      </p>
    </div>
    <%= form_with url: signup_post_path, method: 'post', class: "mt-8" do |form| %>
      <div class="rounded-md shadow-sm">
        <div>
          <%= form.email_field :email, placeholder: "Email address", autocomplete: "email", required: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5", 'aria-label' => 'Email address' %>
        </div>
        <div class="-mt-px">
          <%= form.password_field :password, placeholder: "Password", autocomplete: "new-password", required: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5", 'aria-label' => 'Password' %>
        </div>
      </div>

      <div class="mt-6 flex items-center justify-between">
        <div class="flex items-center">
          <input id="consent" required type="checkbox" class="form-checkbox h-4 w-4 text-purple-600 transition duration-150 ease-in-out">
          <label for="consent" class="ml-2 block text-sm leading-5 text-gray-900">
            I agree to the <%= link_to "Terms Of Use", terms_path, target: "_blank", class: "font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:underline transition ease-in-out duration-150" %>
          </label>
        </div>
      </div>

      <div class="mt-6">
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:border-purple-700 focus:shadow-outline-purple active:bg-purple-700 transition duration-150 ease-in-out">
          Create Account
        </button>
      </div>
    <% end %>
  </div>
</div>
