<% content_for :page_title, "Log in to #{Rails.configuration.application_name}" %>
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    <div>
      <%= link_to image_tag(asset_pack_path("media/images/uxmetrics-logo.svg"), size: "39x39", class: "mx-auto h-12 w-auto"), root_path, class: "" %>
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Create a new password
      </h2>
      <p class="mt-2 text-center text-sm leading-5 text-gray-600">
        Or
        <%= link_to "Log in", new_user_session_path, class: "font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:underline transition ease-in-out duration-150" %>
      </p>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "mt-8" }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div class="rounded-md shadow-sm">
        <div>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5", 'aria-label' => 'Password', placeholder: 'New Password' %>
        </div>
        <div class="-mt-px">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5", 'aria-label' => 'Password', placeholder: 'Confirm New Password' %>
        </div>
      </div>

      <div class="mt-6">
        <%= f.submit "Save New Password", class: "cursor-pointer w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:border-purple-700 focus:shadow-outline-purple active:bg-purple-700 transition duration-150 ease-in-out" %>
      </div>
    <% end %>
  </div>
</div>


