<% content_for :page_title, "Reset your #{Rails.configuration.application_name} password" %>
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    <div>
      <%= link_to image_tag(asset_pack_path("media/images/uxmetrics-logo.svg"), size: "39x39", class: "mx-auto h-12 w-auto"), root_path, class: "" %>
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Reset your password
      </h2>
      <p class="mt-2 text-center text-sm leading-5 text-gray-600">
        Or
        <%= link_to "Log in", new_user_session_path, class: "font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:underline transition ease-in-out duration-150" %>
      </p>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "mt-8" }) do |f| %>
      <%= devise_error_messages! %>
      <div class="rounded-md shadow-sm">
        <div>
          <%= f.email_field :email, autocomplete: "email", class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5", 'aria-label' => 'Email address', placeholder: 'Email address' %>
        </div>
      </div>

      <div class="mt-6">
        <%= f.submit "Reset Password", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:border-purple-700 focus:shadow-outline-purple active:bg-purple-700 transition duration-150 ease-in-out" %>
      </div>
    <% end %>
  </div>
</div>



