<!DOCTYPE html>
<html>
<head>
  <title><%= "UX Metrics - Online card sorting and tree test studies" %></title>
  <meta name="description" content="<%= "Set up free online card sort and tree test studies in minutes, even if you've never done user research. Research, test and improve your information architecture." %>" />

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag "application", "data-turbolinks-track": "reload", async: true %>

  <%= favicon_link_tag asset_pack_path('media/images/favicon.png') %>

  <%= stylesheet_pack_tag "application", "data-turbolinks-track": "reload", async: true %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script async defer data-domain="uxmetrics.com" src="https://analytics.uxmetrics.com/js/index.js"></script>

</head>

<body>
  <%= render "shared/navigation" %>
  <%= yield %>
  <%= render "shared/flash" %>
  <%= render "shared/footer" %>
</body>
</html>
