<!DOCTYPE html>
<html>
<head>

  <title><%= "#{Rails.configuration.application_name}" %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

  <%= favicon_link_tag asset_pack_path('media/images/favicon.png') %>

  <%= stylesheet_pack_tag "application", "data-turbolinks-track": "reload" %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script async defer data-domain="uxmetrics.com" src="https://analytics.uxmetrics.com/js/index.js"></script>
  <script>
    (function () {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://app.termly.io/embed.min.js';
      s.id = '06942775-510a-4ef9-a9ee-2404083d70a1';
      s.setAttribute("data-name", "termly-embed-banner");
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    })();
  </script> 
  
</head>

<body>
  <%= yield %>
  <%= render "shared/flash" %>
</body>
</html>