<!DOCTYPE html>
<html class="w-full sm:h-full">
<head>
  <%= render "shared/head" %>
</head>

<body class="w-full h-full <%= body_class(yield(:body_class)) %>">
  <%= render "shared/flash" %>

  <% if request.original_url.include? "preview" %>
  <% preview = true %>
    <div class="preview-bar bg-yellow-500 text-center py-2"><h5 class="my-2 text-sm"><i class="fa fa-eye mr-2" aria-hidden="true"></i> This is a preview of your test, results will not be saved.</h5></div>
  <% end %>
  <div class="collect">

    <% if @cardtest.status == "published" %>

    <div class="dashboard-wrapper">

      <% if current_page?(action: 'new') == true %>

      <div class="dashboard-nav-secondary clearfix">
        <%# Example usage here: search, secondary navigation items, etc.  Do not forget to change the `justify-end` in `.dashboard-nav-secondary`. %>
        <%# link_to Rails.configuration.application_name, root_path, class: "dashboard-nav__logo" %>
        <% if @cardtest.logoimg.attached? %>
          <%= image_tag(url_for(@cardtest.logoimg), id: "logo-uploaded", class: "dashboard-nav__logo") %>
        <% else %>
          <%= image_tag(asset_pack_path("media/images/Userdrive-Logo.png"), size: "125x33", class: "dashboard-nav__logo") %>
        <% end %>

        <a href="#" class="submit-result float-right btn btn--primary">Submit</a>
        <div data-controller="modal"  data-action="keydown@window->modal#closeWithKeyboard">
        <a href="#" data-action="click->modal#open" class="mr-3 float-right btn btn--primary-outline">View Instructions</a>
        <div data-target="modal.container" class="">
          <div data-target="modal.background" data-action="click->modal#closeBackground" class="modal-wrapper">
            <div class="modal">




              <div class="modal__content">
                <h3 class="modal__header mb-4">Instructions</h3>

                <p class="mb-4"><%= @cardtest.intro %></p>

                <div class="field mb-0">
                  <a href="#" class="btn btn--primary block text-center" data-action="click->modal#close">Get Started</a>
                </div>

                <svg class="modal__close" role="button" data-action="click->modal#close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
              </div>
            </div>
          </div>
        </div>
        </div>


        <div data-controller="modal"  data-action="keydown@window->modal#closeWithKeyboard">
          <div data-target="modal.container" class="">

          <div class="modal-wrapper validation hidden">
            <div class="modal">




              <div class="modal__content">
                <h3 class="modal__header mb-4 hidden">You must name the groups dude.</h3>
                <p class="mb-4">Drag the items from the left column to the area on the right and group them however it makes sense to you.</p>

                <div class="field mb-0">
                  <a href="#" class="btn btn--primary block text-center close-validation">Okay</a>
                </div>

                <svg class="modal__close close-validation" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
              </div>
            </div>
          </div>
          </div>
        </div>



      </div>

      <% else %>



      <% end %>

      <div class="collect-content">
        <%= yield %>
      </div>
    </div>

    <% else %>

      <div class="mt-16 max-w-4xl mx-auto text-center">

        <h1 class="text-3xl">This test is not accepting responses at this time.</h1>
        <p></p>
      </div>
      <div class="text-center bottom-0 mb-8 absolute block w-full">
        <p class="text-xs text-gray-500 mb-4">This test was powered by <%= link_to image_tag(asset_pack_path("media/images/Userdrive-Logo.png"), size: "76x20", class: "ml-2 inline"), root_path, class: "text-center" %></p>


      </div>


    <% end %>

  </div>
</body>
</html>
