<!DOCTYPE html>
<html class="w-full sm:h-full">
<head>
  <%= render "shared/head" %>
</head>

<body class="w-full h-full <%= body_class(yield(:body_class)) %>">
  <%= render "shared/flash" %>
  <div class="dashboard">


    <div class="dashboard-wrapper">
      <div class="dashboard-nav-secondary clearfix">
        <%# Example usage here: search, secondary navigation items, etc.  Do not forget to change the `justify-end` in `.dashboard-nav-secondary`. %>
        <%= link_to Rails.configuration.application_name, root_path, class: "dashboard-nav__logo" %>

        <div class="dashboard-nav-secondary__account">
          <div class="header-nav">
            <% css_class = current_page?(controller: 'cardtests', action: 'index') ? "active" : "" %>
            <%= link_to "Cardtests", cardtests_path, class:"header-nav-item #{css_class}"%>
            
            <a href="#" class="header-nav-item">Tree tests</a>
          </div>
          <div class="dropdown" data-controller="dropdown">
            <div class="dropdown__toggle" data-action="click->dropdown#toggle click@window->dropdown#hide" role="button">
              <%= current_user.first_name %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="dropdown__icon" data-target="dropdown.icon"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
            </div>
            <div data-target="dropdown.menu" class="dropdown__menu hidden">
              <div class="dropdown__items">
                <%= link_to "Billing",  billing_path, class: "dropdown__item" %>
                <%= link_to "Edit account",  edit_user_registration_path, class: "dropdown__item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown__item" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dashboard-content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
