<!DOCTYPE html>
<html class="w-full sm:h-full">
<head>
  <%= render "shared/head" %>
</head>

<body class="w-full h-full <%= body_class(yield(:body_class)) %>">

  <script>
    if (window.analytics) {
      window.analytics.page();
      analytics.identify('<%= current_user.id %>', {
        name: '<%= current_user.name %>',
        email: '<%= current_user.email %>',
      });
    }
  </script>

  <%= render "shared/flash" %>
  <div class="dashboard">


    <div class="dashboard-wrapper">
      <div class="dashboard-nav-secondary clearfix">
        <%# Example usage here: search, secondary navigation items, etc.  Do not forget to change the `justify-end` in `.dashboard-nav-secondary`. %>
        <%# link_to Rails.configuration.application_name, root_path, class: "dashboard-nav__logo" %>
        <%= link_to image_tag(asset_pack_path("media/images/uxops-logo.svg"), size: "125x33"), root_path, class: "dashboard-nav__logo" %>

        <div class="dashboard-nav-secondary__account">
          <div class="header-nav">
            <% if (controller_name.eql? "cardtests") && (action_name.eql? "index") %>
              <% css_class = "active"%>
            <% else %>
              <% css_class = "" %>
            <% end %>
            <%# css_class = current_page?(url_for(controller: 'cardtests', action: 'index')) ? "active" : "" %>
            <%# css_class = current_page?(url_for(controller: 'cardtests', action: 'index')) ? "active" : "" %>
            <%= link_to "Cardtests", cardtests_path, class:"header-nav-item #{css_class}"%>

            <a href="#" class="header-nav-item coming-soon">Tree tests<span class="pill pill--primary">Soon</span></a>
          </div>


          <div class="dropdown" data-controller="dropdown">
            <div class="dropdown__toggle" data-action="click->dropdown#toggle click@window->dropdown#hide" role="button">
              <%= current_user.first_name %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="dropdown__icon" data-target="dropdown.icon"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
            </div>
            <div data-target="dropdown.menu" class="dropdown__menu hidden">
              <div class="dropdown__items">

                <% if current_user.subscribed? %>
                  <%= link_to "Billing",  billing_path, class: "dropdown__item" %>
                  <%# link_to "charge", charge_path, class: "dropdown__item" %>

                <% end %>
                <%# link_to "new billing", new_billing_path, class: "dropdown__item" %>
                <%# link_to "billing", billing_path, class: "dropdown__item" %>
                <%# link_to "billing plans", billing_plans_path, class: "dropdown__item" %>
                <%# link_to "billing plan", billing_plan_path, class: "dropdown__item" %>
                <%# link_to "coupons", coupons_path, class: "dropdown__item" %>
                <%# link_to "charge", charge_path, class: "dropdown__item" %>
                <%# link_to "pricing", pricing_path, class: "dropdown__item" %>
                <%= link_to "Edit account",  edit_user_registration_path, class: "dropdown__item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown__item" %>
              </div>
            </div>
          </div>

          <!-- Created at: <%= current_user.created_at %><br/>
          Is there a trialend flag?: <%= current_user.trialend? %><br/>
          trialend value: <%= current_user.trialend %><br/>
          trialend less than 7 days ago? <%= current_user.created_at > 7.days.ago %><br/>
          7 days ago is this: <%= 7.days.ago %><br/>
          60 days ago is this: <%= 60.days.ago %><br/> -->

          <%# current_user.subscribed? %>

          <% if current_user.subscribed? == false %>

                <% if current_user.trialend? && current_user.created_at > 7.days.ago %>
                  <div class="trial float-right mt-1">
                    <span class="pill pill--tertiary" style="font-size:0.6rem">
                      <span class="pill pill--tertiary" style="font-size:0.6rem"><%= 7-((Time.now - current_user.created_at)/1.day).round %> day(s) left of your 7 day trial </span>
                    </span>
                  </div>
                <% elsif current_user.trialend? %>
                <div class="trial float-right mt-1">
                  <span class="pill pill--secondary" style="font-size:0.6rem">
                    Trial expired
                  </span>
                </div>
                <% elsif current_user.created_at > 60.days.ago %>
                  <div class="trial float-right mt-1">
                    <span class="pill pill--tertiary" style="font-size:0.6rem"><%= 60-((Time.now - current_user.created_at)/1.day).round %> day(s) left of your trial </span>
                  </div>
                <% else %>
                  <div class="trial float-right mt-1">
                    <span class="pill pill--secondary" style="font-size:0.6rem">
                      Early access has ended
                    </span>
                  </div>
                <% end %>

          <% else %>



          <% end %>
        </div>
      </div>

      <div class="dashboard-content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
