<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head" %>
</head>

<body class="<%= body_class(yield(:body_class)) %>">
  <%= render "shared/flash" %>
  <div class="">
    <%# link_to Rails.configuration.application_name, root_url, class: "block my-8 text-2xl text-center font-bold text-black hover:text-grey-dark no-underline" %>
    <%= link_to image_tag(asset_pack_path("images/Userdrive-Logo.png"), size: "125x33", class:"inline"), root_path, class: "text-center block w-full my-10" %>

    <%= yield %>
  </div>
</body>
</html>
