<!DOCTYPE html>
<html class="h-full">
<head>

  <title><%= "#{Rails.configuration.application_name}" %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag "participants", "data-turbolinks-track": "reload" %>

  <%= favicon_link_tag asset_pack_path('media/images/favicon.png') %>

  <%= stylesheet_pack_tag "participants", "data-turbolinks-track": "reload" %>

  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0">

  <script async defer data-domain="uxmetrics.com" src="https://analytics.uxmetrics.com/js/index.js"></script> 

</head>

<body class="h-full">
  <div class="h-full" data-behavior="vue">
    <%= yield %>
  </div>
</body>
</html>