<!DOCTYPE html>
<html class="w-full sm:h-full">
<head>

  <title><%= "#{Rails.configuration.application_name}" %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag "dashboard", "data-turbolinks-track": "reload" %>

  <%= favicon_link_tag asset_pack_path('media/images/favicon.png') %>

  <%= stylesheet_pack_tag "dashboard", "data-turbolinks-track": "reload" %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script async defer data-domain="uxmetrics.com" src="https://analytics.uxmetrics.com/js/index.js"></script>  

</head>

<body class="w-full h-full">
  <div class="min-h-screen bg-gray-100">
    <div data-behavior="vue">
      <%= yield %>
    </div>
  </div>
  <footer>
    <div class="border-t border-gray-200 py-12 bg-gray-100">
        <p class="text-base leading-6 text-gray-400 text-center">
          &copy; 2020 UX Metrics, LLC. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
  <%= render "shared/flash" %>
</body>
</html>
