  <% content_for :page_title, "Create your #{Rails.configuration.application_name} account." %>
<% content_for :page_description, "Create your #{Rails.configuration.application_name} account to get access today." %>

<div class="mt-4 max-w-lg mx-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "card card--light p-4" }) do |f| %>
    <%= devise_error_messages! %>

    <h1 class="mt-2 mb-6 text-xl">Create an account</h1>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Your full name", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "Your email", autocomplete: "email", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "•••••••••••••", autocomplete: "new-password", class: "input" %>
    </div>

    

    <div class="actions">
      <%= f.submit "Create an account", class: "btn btn--primary" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>

